div.input {

    display: flex;

    input {

        &[type="checkbox"].checkbox {

            visibility: hidden;

            &+label {

                height: 20px;
                width: 20px;

                border-radius: 50%;
                border: 2px solid rgba($min-color, .5);
            }

            &:checked+label {

                background: $min-color;
            }
        }
    }
}