// 顏色，如果要使用透明度請 rgba(變數, 透明度)，例如 color: rgba($min-color, .1);
$min-color: rgb(0, 117, 82);
$bg-color: rgb(251, 248, 239);
$yellow: rgb(247, 200, 69);
$gray: rgb(128, 128, 128);
$orange: rgb(255, 169, 120);
$orange-light: rgb(255, 211, 193);

@font-face {

    font-family: myFont;
    src: url("./jf-openhuninn.ttf");
}

// 文字
$font-size: 10px;

// RWD
$medium: 1200px;
$small: 768px;