$bgColor: #FBF8EF;
$maintitleColor: #F7C845;
$title1Color: #007552;
$title2Color: #62B45A;
$title3Color: #FBF8EF;

$sidebarBgColor: #FFD3C1;
$contentColor: #007552;

$maintitleSize: 18px;
$title1Size: 16px;
$title2Size: 14px;
$contentSize:12px;

$btnBgcolor: #007552;
$btnColor: #FBF8EF;


.msContainer {
  display: flex;
  flex-flow: row wrap;
  background: $bgColor;
  height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  
  .msFrame {
    color: $contentColor;
    display: flex;
    max-width: 80%;
    height: 100%;
    box-sizing: border-box;

    .manageTitle {
      color: $maintitleColor;
      font-size: $maintitleSize;
      margin: 50px;
    }

    .addAdmin {
      background: $btnBgcolor;
      color: $btnColor;
      border-radius: 10px;
      width: 80px;
      height: 30px;
      margin-left: 50px;
    }

    .msSideBar {
      color: $title1Color;
      display: flex;
      background: $sidebarBgColor;
      width: 220px;
      height: 100%;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
      font-size: $title1Size;
      line-height: 3rem;
    }

    .AdminMainContent {
      margin: 0 auto;
      color: $contentColor;
      display: flex;
      font-size: $contentSize;
      max-width: 60%;
      height: 65%;
      box-sizing: border-box;
      justify-content: center;
      left: 280px;
      top: 190px;
      // border: 1px solid #000;

      .tableSection {
      
        .amt-header {
          display: flex;
          background: $maintitleColor;
        }
  
        .amt-content {
          background-color: #fff;
          height: 80%;
          overflow-x: auto;
          margin-top: 0px;
        }
  
        .adminManageTab {
          width: 70%;
          table-layout: fixed;
          
        }
  
        th {
          padding: 20px 20px;
          text-align: left;
          color: $contentColor;
        }
  
        td {
          padding: 20px;
          text-align: left;
          vertical-align: middle;
          color: $contentColor;
  
          .statusBtn[type=checkbox] {
            height: 0;
            width: 0;
            visibility: hidden;
          }
  
          .statusBtnLabel {
            cursor: pointer;
            text-indent: -9999px;
            width: 35px;
            height: 19px;
            background: rgb(161, 161, 161);
            display: block;
            border-radius: 100px;
            position: relative;
            top: -6px;
          }
  
          .statusBtnLabel:after {
            content: '';
            position: absolute;
            top: 1.5px;
            left: 2px;
            width: 15px;
            height: 15px;
            background: #fff;
            border-radius: 90px;
            transition: 0.3s;
          }
  
          .statusBtn:checked+.statusBtnLabel {
            background: #62B45A;
          }
  
          .statusBtn:checked+.statusBtnLabel:after {
            left: calc(100% - 2px);
            transform: translateX(-100%);
          }
  
          .statusBtnLabel:active:after {
            width: 20px;
          }
          
  
  
      }
      
      }
    }
  }
}




// @media (max-width: 767px){
// // header.header{
// //   max-width: 100%;
// // }
// .main_content{
//  max-width: 100%;
//   }
// .aside{
//   max-width: 100%;
//   margin-bottom:10px;

// }
// .main{
//   width: 100%;
//   display: block;
// }

// }