$bgColor: #fbf8ef;
$maintitleColor: #555;
$mainSubtitleColor: #CC113C;
$title1Color: #007552;
$title2Color: #62b45a;
$title3Color: #fbf8ef;

$sidebarBgColor: #ffd3c1;
$contentColor: #555;
$formTtlBg: #F7C845;
$attention: #CC113C;

$maintitleSize: 18px;
$title1Size: 16px;
$title2Size: 14px;
$contentSize: 12px;

$btnBgcolor: #FFA978;
$btnBgHcolor: #62b45a;
$btnColor: #fbf8ef;
$btnRadius: 5px;
$tagBGcolor: #E2E2E2;

.msContainer {
  // display: flex;
  // flex-flow: row wrap;
  // background: $bgColor;
  // // height: 100vh;
  // max-width: 100%;
  // margin: 0 auto;
  // border: 1px solid #000;
  // box-sizing: border-box;

  .msFrame {
    color: $contentColor;
    display: flex;
    width: 100%;
    // height: 900px;
    // border: 1px solid blue;
    box-sizing: border-box;

    // overflow: scroll;

    .msSideBar {
      // margin: auto;
      color: $title1Color;
      display: flex;
      background: $sidebarBgColor;
      // min-width: 25%;
      min-width: 20%;
      height: 100%;
      box-sizing: border-box;
      // align-items: center;
      justify-content: center;
      font-size: $title1Size;
      line-height: 3.3rem;
      position: fixed;
      // border: 1px solid red;

      .mng_logo {
        margin-top: 30px;
      }

    
      .admin_name {
        color: $title2Color;
        position: relative;
        top: 15px;
        left: 25%;
        font-size: $title2Size;
      }

      li {
        position: relative;
        top: 10%;
      }

      a {
        // position: relative;
        // top: 25%;
        text-decoration: none;
        color: $title1Color;
        outline: none;
        transition: ease .3s;

        &:hover {
          color: $title2Color;
          position: relative;
          top: 1px;
          left: 1px;

        }

        &:active {
          color: $title2Color;
        }
      }

    }

    .manageTitle {
      color: $maintitleColor;
      font-size: $maintitleSize;
      margin: 30px 0;
    }

    .manageSubTitle {
      color: $mainSubtitleColor;
      font-size: $title1Size;
      vertical-align: bottom;
      margin-left: 10px;

    }

    .AdminMainContent {
      margin: 0 auto;
      color: $contentColor;
      display: inline-block;
      font-size: $contentSize;
      min-width: 70%;
      height: 100%;
      box-sizing: border-box;
      justify-content: center;
      position: fixed;
      left: 25%;
      // border: 1px solid red;

      .addAdmin {
        background: $btnBgcolor;
        color: $btnColor;
        border-radius: $btnRadius;
        border: hidden;
        width: auto;
        height: 30px;
        transition: ease-in-out .3s;

        a {
          text-decoration: none;
          color: $title3Color;
        }

        &:hover {
          position: relative;
          top: .08rem;
          left: .08rem;
          background: $btnBgHcolor;
        }
      }

      .tableSection {
        margin-top: 30px;
        height: 80%;

        .amt-header {
          display: flex;
          background: $formTtlBg;
        }

        .amt-content {
          display: flex;
          background-color: #fff;
          height: 80%;
          overflow-x: auto;
          margin-top: 0px;
        }

        .adminManageTab {
          table-layout: fixed;
        }

        th {
          width: 100px;
          padding: 20px 20px;
          text-align: left;
          color: $contentColor;

          &:last-child {
            padding-left: 10%;
          }
        }

        td {
          width: 100px;
          padding: 20px;
          text-align: left;
          vertical-align: middle;
          color: $contentColor;

          &:last-child {
            padding-left: 10%;
          }

          .statusBtn[type='checkbox'] {
            height: 0;
            width: 0;
            visibility: hidden;
          }

          .statusBtnLabel {
            cursor: pointer;
            text-indent: -9999px;
            width: 35px;
            height: 19px;
            background: rgb(161, 161, 161);
            display: block;
            border-radius: 100px;
            position: relative;
            top: -6px;
          }

          .statusBtnLabel:after {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            width: 15px;
            height: 15px;
            background: #fff;
            border-radius: 90px;
            transition: 0.3s;
          }

          .statusBtn:checked+.statusBtnLabel {
            background: $btnBgcolor;
          }

          .statusBtn:checked+.statusBtnLabel:after {
            left: calc(100% - 2px);
            transform: translateX(-100%);
          }

          .statusBtnLabel:active:after {
            width: 20px;
          }
        }
      }
    }
  }
}


// @media (max-width: 767px){
// // header.header{
// //   max-width: 100%;
// // }
// .main_content{
//  max-width: 100%;
//   }
// .aside{
//   max-width: 100%;
//   margin-bottom:10px;

// }
// .main{
//   width: 100%;
//   display: block;
// }
// }