.blogReportMainContent {
    // margin: 0 auto;
    // color: $contentColor;
    // display: flex;
    // // flex-flow: row wrap;
    // font-size: $contentSize;
    // // width: 80%;
    // max-width: 100%;
    // height: 65%;
    // box-sizing: border-box;
    // justify-content: center;
    // margin-left: 50px;
    // margin-right: 50px;

    margin: 0 auto;
    color: $contentColor;
    display: inline-block;
    // flex-flow: row wrap;
    font-size: $contentSize;
    // width: 80%;
    min-width: 70%;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
    position: fixed;
    left: 25%;
    margin-right: 4%;
    // border: 1px solid red;
    

.blogReportTableSection {

    .br-header {
        display: flex;
        background: $formTtlBg;
    }

    .br-content {
        display: flex;
        background-color: #fff;
        height: 80%;
        overflow-x: auto;
        margin-top: 0px;
    }

    .blogReportManageTab {
        // width: 10%;
        table-layout: fixed;
    }

    th {
        width: 80px;
        // padding: 20px 10px 20px 20px;
        padding: 20px 20px;
        text-align: left;
        color: $contentColor;
    }

    td {
        width: 80px;
        padding: 20px;
        // padding: 10px 10px 10px 20px;
        text-align: left;
        vertical-align: middle;
        color: $contentColor;

    }

}

}