.book_main {
   width: 100vw;
   height: 100vh;

   #Page_horizen {
      overflow-y: scroll;
      overflow-x: hidden;
      transform: rotate(270deg) translateX(-100%);
      transform-origin: top left;
      position: relative;
      width: 100vh;
      height: 100vw;

      &::-webkit-scrollbar {
         display: none;
      }

      #outter {
         transform: rotate(90deg) translateY(-100vh);
         transform-origin: top left;
         white-space: nowrap;

         // 左page
         #book_left {
            //border: 1px solid blue;
            box-sizing: border-box;
            width: 100vw;
            height: 100vh;
            display: inline-block;
            position: relative;
            background-color: $bg-color;
            vertical-align: top;

            .bk_left {
               //border: 1px solid purple;
               box-sizing: border-box;
               display: inline-block;
               position: relative;
               left: 50%;
               top: 40%;
               transform: translate(-50%, -50%);

               .bk_left_img {
                  width: 40vw;
                  height: auto;
                  //border: 1px solid red;
                  box-sizing: border-box;
                  display: inline-block;
                  position: relative;

                  &::before {
                     content: "";
                     position: absolute;
                     left: 10%;
                     top: 20%;
                     background-image: url("../assets/book_img/knowledge_sign.svg");
                     background-repeat: no-repeat;
                     background-size: contain;
                     width: 13vw;
                     height: 0;
                     padding-bottom: 100%;
                  }

                  img {
                     width: 100%;
                     //  border: 1px solid purple;
                  }
               }


               .bk_right_img {
                  // border: 1px solid green;
                  box-sizing: border-box;
                  display: inline-block;
                  width: 45%;
                  position: absolute;
                  left: 28%;
                  top: 4%;

                  img {
                     width: 100%;
                     height: auto;
                     //  border: 1px solid purple;
                  }
               }
            }

            @include rwd(small) {
               .bk_left {
                  width: 70%;

                  .bk_left_img {
                     width: 100%;

                     &::before {
                        width: 35%;
                     }
                  }

               }
            }
            @keyframes jump{
               0%{
                  bottom: 10px;
               }
              
               50%{
                  bottom: 20px;
               }
               100%{
                  bottom: 0px;
               }
              
            }
            
            &::after{
               content: "scroll";
               padding: 10px;
               font-size: 1.3rem;
               position: absolute;
               width: 60px;
               height: 60px;
               background-image: url("../assets/book_img/scroll.svg");
               background-repeat: no-repeat;
               background-size: contain;
               bottom: 10px;
               left: 50%;

               animation-name: jump;
               animation-duration: 1.5s;
               animation-iteration-count: infinite;
               @include rwd(small){
                  animation: none;
                  
                  transform: rotate(270deg);
               }
            }          
         }

         //middle
         .book_middle {
            // border: 1px solid blue;
            box-sizing: border-box;
            width: 15vw;
            height: 100vh;
            display: inline-block;
            position: relative;
            background-color: #438b6d;
            vertical-align: top;
         }

         // 右page

         #book_right {
            //border: 1px solid blue;
            box-sizing: border-box;
            padding-top: 20px;
            width: 100vw;
            height: 100vh;
            display: inline-block;
            position: relative;
            background-color: #438b6d;
            vertical-align: top;

            &::before {
               content: "";
               position: absolute;
               left: -10%;
               width: 40%;
               height: 40%;
               background-image: url("../assets/book_img/flower_middle.svg");
               background-size: contain;
               background-repeat: no-repeat;
            }

            .bookContain {
               margin-top: 30px;
               //border: 1px solid red;

               .bkbk_content {
                  //border: 1px solid black;
                  box-sizing: border-box;
                  display: block;
                  width: 70%;
                  margin: 0 auto;

                  //tag
                  .book_tag {
                     //border: 1px solid rgb(43, 255, 0);
                     box-sizing: border-box;
                     position: relative;
                     left: 50%;
                     transform: translate(-50%);
                     height: 35px;
                     width: 100%;

                     .index {
                        //border: 1px solid red;
                        background-color: #485349;
                        color: white;
                        box-sizing: border-box;
                        border-radius: 10px 10px 0 0;
                        position: absolute;
                        top: 10px;
                        left: 5%;
                        width: 70px;
                        height: 35px;
                        padding: 10px 0;
                        text-align: center;
                        font-size: 1.6rem;
                        transition: 0.5s;

                        &:hover {

                           top: 0;
                        }

                        .book_link {
                           padding: 10px;
                           color: $bg-color;
                           text-decoration: none;
                        }
                     }

                     ul.tag {
                        //border: 1px solid red;
                        display: inline-flex;
                        position: absolute;
                        right: 3%;

                        li {
                           //border: 1px solid green;
                           background-color: $bg-color;
                           box-sizing: border-box;
                           border-radius: 10px 10px 0 0;
                           width: 70px;
                           height: 35px;
                           padding: 10px 0;
                           text-align: center;
                           transform: translate(0, 10px);
                           font-size: 1.6rem;
                           transition: 0.5s;

                         @mixin taglink {
                           padding: 10px 20px;
                           color: black;
                           text-decoration: none;
                           @content;
                         }

                           &:nth-child(1) {
                              background-color: #f38e8e;

                              .book_link {
                               @include taglink;
                              }
                           }

                           &:nth-child(2) {
                              background-color: #f6d16b;
                              .book_link {
                                 @include taglink;
                              }
                           }

                           &:nth-child(3) {
                              background-color: #e19b6b;
                              .book_link {
                                 @include taglink;
                              }
                           }

                           &:nth-child(4) {
                              background-color: #87b0e7;
                              .book_link {
                                 @include taglink;
                              }
                           }

                           &:nth-child(5) {
                              background-color: #c5ce7c;
                              .book_link { 
                                 @include taglink;
                              }
                           }

                           &:hover {
                              transform: translate(0, 0px);
                           }

                           // &.tag1 {
                           //    transform: translate(0, 0px);
                           // }
                        }

                        //r-991
                        @include rwd(medium) {
                           li {
                              width: 55px;

                           }
                        }
                     }
                  }

                  //book本體
                  .Book {
                     border: 1px solid $min-color;
                     background: #fcfbf7;
                     box-sizing: border-box;
                     display: inline-block;
                     width: 100%;
                     margin: 0 auto;
                     position: relative;
                     left: 50%;
                     transform: translateX(-50%);
                     z-index: 2;


                     //切換按鈕 切換按鈕 切換按鈕
                     .Change_Button {
                        border: 0.5px solid $min-color;
                        box-sizing: border-box;
                        display: inline-block;
                        width: 3%;
                        height: 80vh;
                        //max-height: 700px;
                        vertical-align: top;

                        .pagepaper {
                           border: 0.5px solid $min-color;
                           box-sizing: border-box;
                           display: inline-block;
                           width: 33%;
                           height: 100%;
                           position: relative;
                        }
                     }
                     @include rwd(mobile){
                        .Change_Button{
                          display: none;
                        }
                     }

                     // bookcontent書籍內容
                     #bk_content {
                        // font-size: 0;
                        border: 1px solid $min-color;
                        box-sizing: border-box;
                        display: inline-block;
                        width: 94%;
                        height: 80vh;
                        //max-height: 700px;
                        position: relative;
                        border: 1px solid red;


                        //page_top_img
                        &::before {
                           content: "";
                           position: absolute;
                           z-index: 2;
                           left: 50%;
                           transform: translateX(-50%);
                           top: -2px;
                           background-image: url("../assets/book_img/booktop.svg");
                           background-repeat: no-repeat;
                           width: 7%;
                           height: 10%;


                        }

                        //page_bottom_img
                        &::after {
                           content: "";
                           position: absolute;
                           left: 50%;
                           transform: translateX(-50%);
                           bottom: -4%;
                           background-color: rgba(255, 208, 191, 1);
                           -webkit-clip-path: polygon(0 58%, 100% 58%, 65% 100%, 29% 100%);
                           clip-path: polygon(0 58%, 100% 58%, 65% 100%, 29% 100%);
                           // background-image: url("../assets/book_img/bookbottom.svg");
                           // background-repeat: no-repeat;
                           width: 7%;
                           height: 10%;
                           // z-index: -2;

                        }

                        .change_bookpage{
                           border: 1px solid purple;
                           position: absolute;
                           width: 100%;
                           bottom: 0;
                           z-index: 2;
                           .changebuttonleft{
                              display: inline-block;
                              position: relative;
                              left: 10px;
                              bottom: 0;
                              button{
                                 width: 70px;
                                 height: 30px;
                                 background: none;
                                 border: none;
                                background-image: url("../assets/book_img/frontpage.svg");
                                background-size: contain;
                                background-repeat: no-repeat;      
                                &:hover{
                                 background-image: url("../assets/book_img/frontpagehover.svg");
                                 
                                }
                              }
                           }

                           .changebuttonright{
                              display: inline-block;
                              position: absolute;
                              right: 10px;
                              bottom: 0;
                              button{
                                 width: 70px;
                                 height: 30px;
                                 background: none;
                                 border: none;
                                background-image: url("../assets/book_img/nextpage.svg");
                                background-size: contain;
                                background-repeat: no-repeat;      
                                &:hover{
                                 background-image: url("../assets/book_img/nextpagehover.svg");
                                 
                                }
                              }
                           }

         
                        }

                        @include rwd (small) {
                           &::after {
                              display: none;
                           }

                           &::before {
                              display: none;
                           }
                        }

                        @include rwd (small) {
                           .bk_Spring {
                              overflow-y: scroll;
                           }
                        }
                     }

                     @include rwd(mobile) {
                        #bk_content {
                           width: 100%;
                           height: 100vh;

                        }
                     }
                  }
               }

               @include rwd (medium) {
                  .bkbk_content {
                     width: 80%;
                  }
               }

               @include rwd (small) {
                  .bkbk_content {
                     width: 90%;
                  }
               }

               @include rwd (mobile) {
                  .bkbk_content {
                     width: 100%;
                     height: 100vh;

                  }
               }
            }
         }
         
      }

      #book_footer {
         //background-color: red;
         position: relative;
         top: -110%;
      }
   }
}