#Page_horizen {
   overflow-y: scroll;
   overflow-x: hidden;
   transform: rotate(270deg) translateX(-100%);
   transform-origin: top left;
   position: relative;
   width: 100vh;
   height: 100vw;

   &::-webkit-scrollbar {
      display: none;
   }

   #outter {
      transform: rotate(90deg) translateY(-100vh);
      transform-origin: top left;
      white-space: nowrap;



      // 左page
      #book_left {
         //border: 1px solid blue;
         box-sizing: border-box;
         width: 100vw;
         height: 100vh;
         display: inline-block;
         position: relative;
         background-color: $bg-color;
         vertical-align: top;

         .bk_left {
            //border: 1px solid orangered;
            box-sizing: border-box;
            display: inline-block;
            position: relative;
            left: 50%;
            top: 40%;
            transform: translate(-50%, -50%);


            .bk_left_img {
               width: 40vw;
               height: auto;
               //border: 1px solid red;
               box-sizing: border-box;
               display: inline-block;
               position: relative;

               &::before {
                  content: "";
                  position: absolute;
                  left: 10%;
                  top: 20%;
                  background-image: url("../assets/book_img/knowledge_sign.svg");
                  background-repeat: no-repeat;
                  background-size: contain;
                  width: 13vw;
                  height: 0;
                  padding-bottom: 100%;

               }

               img {
                  width: 100%;
                  //  border: 1px solid purple;

               }
            }

            .bk_right_img {
               // border: 1px solid green;
               box-sizing: border-box;
               display: inline-block;
               width: 45%;
               position: absolute;
               left: 28%;
               top: 4%;


               img {
                  width: 100%;
                  height: auto;
                  //  border: 1px solid purple;

               }
            }
         }
      }

      //middle
      .book_middle {
         // border: 1px solid blue;
         box-sizing: border-box;
         width: 15vw;
         height: 100vh;
         display: inline-block;
         position: relative;
         background-color: rgba(14, 116, 83, .7);
         vertical-align: top;
      }

      // 右page

      #book_right {
         //border: 1px solid blue;
         box-sizing: border-box;
         padding-top: 20px;
         width: 100vw;
         height: 100vh;
         display: inline-block;
         position: relative;
         background-color: #438b6d;
         vertical-align: top;

         &::before {
            content: "";
            position: absolute;
            left: -10%;
            width: 40%;
            height: 40%;
            background-image: url("../assets/book_img/flower_middle.svg");
            background-size: contain;
            background-repeat: no-repeat;
         }

         .bookContain {
            margin-top: 30px;

            //tag
            .book_tag {
               // border: 1px solid rgb(43, 255, 0);
               box-sizing: border-box;
               position: relative;
               left: 50%;
               transform: translate(-50%);
               height: 35px;
               width: 70%;

               .index {
                  // border: 1px solid red;
                  background-color: #485349;
                  color: white;
                  box-sizing: border-box;
                  border-radius: 10px 10px 0 0;
                  position: absolute;
                  top: 10px;
                  left: 5%;
                  width: 70px;
                  height: 35px;
                  padding: 10px;
                  text-align: center;
                  font-size: 1.6rem;
                  transition: 0.5s;

                  &:hover {
                     top: 0;
                  }
               }

               ul.tag {
                  // border: 1px solid red;
                  display: inline-flex;
                  position: absolute;
                  right: 1%;

                  li {
                     //border: 1px solid green;
                     background-color: $bg-color;
                     box-sizing: border-box;
                     border-radius: 10px 10px 0 0;
                     width: 70px;
                     height: 35px;
                     padding: 10px;
                     text-align: center;
                     transform: translate(0, 10px);
                     font-size: 1.6rem;
                     transition: 0.5s;

                     &:nth-child(1) {
                        background-color: #f38e8e;
                     }

                     &:nth-child(2) {
                        background-color: #f6d16b;
                     }

                     &:nth-child(3) {
                        background-color: #e19b6b;
                     }

                     &:nth-child(4) {
                        background-color: #87b0e7;
                     }

                     &:nth-child(5) {
                        background-color: #c5ce7c;
                     }

                     &:hover {
                        transform: translate(0, 0px);
                     }


                     &.tag1 {
                        transform: translate(0, 0px);
                     }

                  }
               }
            }

            .Book {
               border: 1px solid $min-color;
               background: #fcfbf7;
               box-sizing: border-box;
               display: inline-block;
               height: 80vh;
               width: 80%;
               margin: 0 auto;
               position: relative;
               left: 50%;
               transform: translateX(-50%);
               z-index: 2;

               //切換按鈕 切換按鈕 切換按鈕
               .Change_Button {
                  border: 0.5px solid $min-color;
                  box-sizing: border-box;
                  display: inline-block;
                  width: 3%;
                  height: 80vh;
                  vertical-align: top;

                  .pagepaper {
                     border: 0.5px solid $min-color;
                     box-sizing: border-box;
                     display: inline-block;
                     width: 33%;
                     height: 100%;
                     position: relative;

                     .Pbutton_left {

                        &:hover {
                           background-color: #ffe29e;
                        }

                        &::before {
                           content: "";
                           position: absolute;
                           top: 50%;
                           left: 55%;
                           transform: translate(-50%, -50%);
                           background-image: url("../assets/book_img/turn_leftpage.svg");
                           background-repeat: no-repeat;
                           width: 30px;
                           height: 40px;
                        }
                     }

                     .Pbutton_right {

                        &:hover {
                           background-color: #ffe29e;
                        }

                        &::before {
                           content: "";
                           position: absolute;
                           top: 30%;
                           right: 30%;

                           background-image: url("../assets/book_img/turn_rightpage.svg");
                           background-repeat: no-repeat;
                           width: 30px;
                           height: 40px;
                           transform: translateX(50%);

                        }
                     }

                     .page_button {
                        width: 2.5vw;
                        height: 100px;
                        border: 2px solid $min-color;
                        background-color: #f3c352ee;
                        position: relative;
                        top: 45%;
                        transform: translateY(-50%);
                        left: -1vw;
                        z-index: 33;

                     }

                  }

               }


               // bookcontent書籍內容
               #bk_content {

                  // font-size: 0;
                  border: 1px solid $min-color;
                  box-sizing: border-box;
                  display: inline-block;
                  width: 94%;
                  height: 80vh;
                  position: relative;

                  &::before {
                     content: "";
                     position: absolute;
                     z-index: 2;
                     left: 50%;
                     transform: translateX(-50%);
                     top: -3px;
                     background-image: url("../assets/book_img/booktop.svg");
                     background-repeat: no-repeat;
                     width: 7%;
                     height: 10%;


                  }

                  &::after {
                     content: "";
                     position: absolute;
                     left: 50%;
                     transform: translateX(-50%);
                     bottom: -3%;
                     background-color: rgba(255, 208, 191, 1);
                     -webkit-clip-path: polygon(0 58%, 100% 58%, 65% 100%, 29% 100%);
                     clip-path: polygon(0 58%, 100% 58%, 65% 100%, 29% 100%);
                     // background-image: url("../assets/book_img/bookbottom.svg");
                     // background-repeat: no-repeat;
                     width: 7%;
                     height: 10%;
                  }

                  .bk_ct {
                     // border: 1px solid blue;
                     box-sizing: border-box;
                     position: relative;
                     top: 0;
                     display: inline-block;
                     width: 50%;
                     height: 100%;
                     vertical-align: top;
                  }


                  .bk_ct_left {
                     display: none; /////這裏
                     font-size: 0;

                     .fruit_start {
                        // border: 1px solid red;
                        box-sizing: border-box;
                        display: inline-block;
                        width: 100%;
                        height: 45%;

                        h1 {
                           display: inline-block;
                           //border: 1px solid red;
                           writing-mode: vertical-lr;
                           letter-spacing: 0.6rem;
                           font-size: 5rem;
                           font-weight: bolder;
                           color: #f38e8e;
                           position: relative;
                           left: 5%;
                           top: 45%;
                           z-index: 2;

                           &::before {
                              content: "";
                              position: absolute;
                              top: -30px;
                              left: -10px;
                              width: 50px;
                              height: 50px;
                              background-image: url("../assets/book_img/flower.svg");
                           }

                           &::after {
                              content: "";
                              position: absolute;
                              bottom: -30px;
                              left: 20px;
                              width: 30px;
                              height: 30px;
                              background-image: url("../assets/book_img/flower.svg");
                           }
                        }

                        .fruit_start_img {
                           //border: 1px solid red;
                           display: inline-block;
                           width: 180px;
                           height: 170px;
                           vertical-align: top;
                           background-image: url("../assets/book_img/fruit_start01.svg");
                           background-repeat: no-repeat;
                           background-size: contain;
                           position: relative;
                           left: 40%;
                           top: 55%;
                           transform: translate(-50%, -50%);
                           transition: .5s;

                           &:hover {
                              width: 170px;
                              height: 160px;
                           }

                           &:hover .img_content {
                              width: 140px;
                              padding-top: 140px;
                           }



                           .img_content {
                              //border: 1px solid red;
                              display: block;
                              width: 130px;
                              padding-top: 130px;
                              border-radius: 50%;
                              position: relative;
                              top: 50%;
                              left: 47%;
                              transform: translate(-50%, -50%);
                              overflow: hidden;
                              transition: 1s;

                              img {
                                 position: absolute;
                                 top: 0;
                                 height: 100%;

                              }

                           }
                        }

                     }

                     .fruit_intro {
                        //  border: 1px solid red;
                        box-sizing: border-box;
                        display: block;
                        width: 100%;
                        height: 55%;

                        // h2 {
                        //    font-size: 1.6rem;
                        //    font-weight: bold;
                        //    padding-left: 10px;
                        //    margin: 0 0 0 10px;
                        // }

                        p {
                           //border: 1px solid blue;
                           font-size: 1.4rem;
                           padding: 12px;
                           margin-left: 10px;
                           white-space: pre-wrap;
                           line-height: 1.8;
                           vertical-align: top;
                           // 欄寬
                           //column-width: 15rem;
                           column-count: 2; 

                           box-sizing: border-box;
                           display: inline-block;
                           width: 95%;
                           height: 95%;


                        }

                     }
                  }

                  .bk_ct_right {
                     font-size: 0;
                     display: none; /////這裏

                     &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 150%;
                        height: 100%;
                        z-index: -1;
                        -webkit-clip-path: polygon(34% 0%, 100% 0, 100% 100%, 0 100%);
                        clip-path: polygon(34% 0%, 100% 0, 100% 100%, 0 100%);
                        background-color: rgba(255, 208, 191, 1);
                     }

                     h2 {
                        //border: 1px solid red;
                        font-size: 1.6rem;
                        font-weight: bold;
                        color: $min-color;
                        margin: 20px 0 10px 15px;
                     }


                     //水果產季週期
                     .fruit_time {
                        // border: 1px solid red;
                        background-color: #ba3f2b;
                        box-sizing: border-box;
                        display: block;
                        width: 100%;
                        height: 10%;

                        ul {
                           display: flex;

                           li {
                              border: 1px solid white;
                              color: white;
                              background-color: #f38e8e;
                              padding: 5px 0;
                              width: 10%;
                              height: 10px;
                              font-size: 1.2rem;
                              text-align: center;
                           }
                        }

                        .fruit_timeline {
                           background-color: #f38e8e;
                           border-radius: 10px;
                           width: 100px;
                           height: 10px;
                           position: relative;
                           top: 25%;
                        }

                     }

                     //影片
                     .fruit_video {
                        height: 35%;
                        margin-top: 20px;

                        //border: 1px solid green;
                        box-sizing: border-box;
                        text-align: center;

                        >video {
                           height: 100%;
                        }

                     }

                     //農知識
                     .fruit_Q {
                        //border: 1px solid green;
                        width: 100%;

                        h2 {
                           //border: 1px solid purple;
                           font-size: 1.6rem;
                           font-weight: bolder;
                           display: inline-block;
                           margin: 20px 10px 0px 15px;

                        }

                        .fruit_A {
                           padding: 10px 15px;

                           //border: 1px solid purple;
                           p {
                              // border: 1px solid blue;
                              font-size: 1.4rem;
                              white-space: pre-wrap;
                              line-height: 1.8;
                              vertical-align: top;
                              // 欄寬

                              box-sizing: border-box;
                              display: inline-block;
                              width: 50%;
                              height: 40%;


                           }

                           .fruit_img {
                              //border: 1px solid green;
                              display: inline-block;
                              width: 30%;
                              height: auto;
                              margin: 1% 8%;

                              img {
                                 position: relative;
                                 width: 100%;
                              }

                           }


                        }

                     }
                  }

                  //部落格
                  .bk_ct_left_2 {
                     border: 1px solid blue;
                     box-sizing: border-box;
                     width: 50%;
                     //display: none;

                     h2 {
                        //border: 1px solid red;
                        font-size: 1.6rem;
                        font-weight: bold;
                        color: $min-color;
                        margin: 20px 0 5px;
                        padding-left: 15px;
                     }
                     .bk_blog_line1{
                        width: 100%;
                        box-sizing: border-box;
                        border: 2px solid $min-color;
                        margin-bottom: 3px;
                     }
                     .bk_blog_line2{
                        width: 100%;
                        box-sizing: border-box;
                        border: .5px solid $min-color;
                     }
                     #bk_blog_knowledge{
                        border:1px solid red;
                        box-sizing: border-box;
                        width: 100%;
                        height: 42%;
                        p{
                          // border: 1px solid blue;
                           font-size: 1.2rem;
                           padding-left: 30px;
                           margin-top: 5px;
                           color: gray;
                        }

                        h3{
                           //border: 1px solid red;
                           font-size: 2rem;
                           font-weight: bolder;
                           padding-left: 15px;
                           margin-bottom: 5px;
                        }
                        .bk_blog_reporter{
                           border: 1px solid red;
                           box-sizing: border-box;
                           display: inline-block;
                          vertical-align: top;
                          margin: 0 15px;
                           width: 40%;
                           .bk_blog_rpt_img{
                              border: 1px solid red;
                              box-sizing: border-box;
                              display: inline-block;
                              width: 40px;
                              height: 40px;
                              border-radius: 50%;

                           }
                        }
                        .bk_blog_img{
                           //border: 1px solid purple;
                           box-sizing: border-box;
                           display: inline-block;
                           height: 60%;
                           width: 50%;
                           overflow: hidden;

                           img{
                              width: 100%;
                           }
                        }
                     }

                     #bk_blog_content{
                        border:1px solid red;
                        box-sizing: border-box;
                        width: 100%;
                        height: 38%;

                        p{
                              border: 1px solid blue;
                              font-size: 1.4rem;
                              // padding: 0px;
                              margin-left: 15px;
                              white-space: pre-wrap;
                              line-height: 1.8;
                              vertical-align: top;
                              
                              //欄位數
                              column-count: 2; 
   
                              box-sizing: border-box;
                              display: inline-block;
                              width: 95%;
                              height: 100%;
                        }
                     }


                  }

                  //市集
                  .bk_ct_right_2 {
                     border: 1px solid blue;
                     box-sizing: border-box;
                     width: 50%;

                  }


               }

            }

         }

      }

   }
}

#book_footer {
   background-color: red;
   position: relative;
   top: -110%;

}

.box3 {
   width: 100px;
   height: 100px;
   background-color: green;
   position: relative;
   top: -700px;
   left: 0;
}