

.blogComReportMainContent {
    margin: 0 auto;
    color: $contentColor;
    display: inline-block;
    // flex-flow: row wrap;
    font-size: $contentSize;
    // width: 80%;
    min-width: 70%;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
    position: fixed;
    left: 25%;
    margin-right: 4%;
    // border: 1px solid red;
}


.blogComReportTableSection {
    .bcr-header {
        display: flex;
        background: $formTtlBg;
    }

    .bcr-content {
        display: flex;
        background-color: #fff;
        height: 80%;
        overflow-x: auto;
        margin-top: 0px;
    }

    .blogComReportManageTab {
        // width: 70%;
        table-layout: fixed;
    }

    th {
        width: 80px;
        padding: 20px 20px;
        text-align: left;
        color: $contentColor;

        // &:last-child {
        //     padding-left: 5%;
        // }
    }

    td {
        width: 80px;
        padding: 20px;
        text-align: left;
        vertical-align: middle;
        color: $contentColor;

        // &:last-child {
        //     padding-left: 5%;
        // }

        .comReStatus {
            cursor: pointer;
        }
    }

}