.encyEdit {
    margin: 0 auto;
    color: $contentColor;
    display: inline-block;
    font-size: $contentSize;
    width: 75%;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
    position: fixed;
    left: 25%;
    overflow: scroll;
    // border: 1px solid red;

    // margin: 0 auto;
    // color: $contentColor;
    // display: flex;
    // flex-direction: column;
    // font-size: $contentSize;
    // // width: 80%;
    // width: 100%;
    // height: 100%;
    // box-sizing: border-box;
    // justify-content: center;
    // position: relative;
    // left: 10%;
    // margin-right: 4%;


    .encyEditTab {
        display: inline-block;
        width: 100%;
        height: auto; //
        margin-bottom: 70px;

        th {
            width: 15%;
            padding: 20px 20px;
            text-align: center;
            color: $contentColor;
            background: $formTtlBg;
            font-size: $title2Size;
        }

        td {
            padding: 20px;
            padding-left: 30px;
            text-align: left;
            vertical-align: middle;
            color: $contentColor;
            background-color: #fff;
            // border: 1px solid green;

            .encyEditBtnSec {
                display: inline-block;
                margin-left: 70%;

                #encyEditCancel,
                #ecnyEditSubmit {
                    color: $btnColor;
                    border-radius: $btnRadius;
                    width: 60px;
                    height: 25px;
                    border: hidden;
                    transition: ease-in-out .3s;

                    &:hover {
                        // position: relative;
                        // top: .08rem;
                        // left: .08rem;
                        // opacity: .9;
                        background-color: $attention;
                 
                    }
                }

                #encyEditCancel {
                    background-color: $title2Color;
                    margin: 0px 5px;
                }

                #ecnyEditSubmit {
                    background-color: $btnBgcolor;
                    margin: 0px 5px;

                }

            }


            #encyTitle {
                resize: none;
                font-size: $contentSize;
                font-family: myFont;
                width: 90%;
                height: $contentSize;
                // letter-spacing: 1px;
                padding: 10px;

            }

            #encyContent {
                resize: none;
                font-size: $contentSize;
                font-family: myFont;
                width: 90%;
                height: 400px;
                overflow: scroll;
                padding: 10px;
            }

        }

        .encyTag {
            border-radius: 25px;
            background-color: $tagBGcolor;
            margin: 3px;
            border: hidden;
            transition: ease-in-out;
            transition-duration: .3s;

            &:hover {
                background-color: #666;
                color: $btnColor;

            }
        }

    }


}