.EncyMainContent {
  margin: 0 auto;
  color: $contentColor;
  display: inline-block;
  // flex-flow: row wrap;
  font-size: $contentSize;
  min-width: 70%;
  height: 100%;
  box-sizing: border-box;
  justify-content: center;
  position: fixed;
  left: 25%;
  margin-right: 4%;


  .editEncy {
    background: $btnBgcolor;
    color: $btnColor;
    border-radius: $btnRadius;
    border: hidden;
    width: auto;
    height: 30px;
    margin-bottom: 30px;
    transition: ease-in-out .3s;

    a {
      text-decoration: none;
      color: $title3Color;
    }

    &:hover {
      position: relative;
      top: .08rem;
      left: .08rem;
      background: $btnBgHcolor;
    }

  }

  .EncytableSection {
    // margin-top: 95px;
    height: 80%;

    .enct-header {
      display: flex;
      background: $formTtlBg;
    }

    .enct-content {
      display: flex;
      background-color: #fff;
      height: 80%;
      overflow-x: auto;
      margin-top: 0px;
    }

    .EncymanageTab {
      table-layout: fixed;
    }

    th {
      width: 150px;
      padding: 20px 20px;
      text-align: left;
      color: $contentColor;

      // &:last-child {
      //   padding-left: 10%;
      // }
    }

    td {
      width: 150px;
      padding: 20px;
      text-align: left;
      vertical-align: middle;
      color: $contentColor;

      // &:last-child {
      //   padding-left: 10%;
      // }

      .editImg {
        width: 15px;
        transition: opacity ease-in-out .6s;
        position: absolute;

        &:last-child:hover {
          opacity: 0;
        }

      
      }
    }

  }
}









// @media (max-width: 767px){
// // header.header{
// //   max-width: 100%;
// // }
// .main_content{
//  max-width: 100%;
//   }
// .aside{
//   max-width: 100%;
//   margin-bottom:10px;

// }
// .main{
//   width: 100%;
//   display: block;
// }

// }