div.product {
    display: inline-block;
    color: #007552;
    background-color: #FBF8EF;
    width: 87.2%;
    height: 100vh;
    vertical-align: top;

    .product_right_head {
        color: #F7C845;
        margin-top: 40px;
        margin-left: 40px;
        font-size: 30px;
        @include rwd(mobile){
            margin-left: 28px;
        }
        >.product_right_head_text {
            span.new {
                margin-left: 10px;
                color: #FFD3C1;
                font-size: 20px;
            }
        }
    }

    .product_right_bottom {
        display: block;
        height: auto;
        text-align: center;

        @include rwd(mobile) {
            display: block;
            text-align: center;
            width: 100%;
            margin-left: 30px;
        }

        >.bottom_form {

            margin-top: 150px;
            line-height: 3;

            @include rwd(small) {
                margin-top: 40px;
                line-height: 1.8;
            }

            @include rwd(mobile) {
                display: flex;
                width: 100%;
                margin-top: 40px;
                line-height: 2;
                font-size: 16px;
            }

            >.person_left {
                vertical-align: top;
                display: inline-block;
                background-color: #F7C845;
                width: 260px;
                height: 500px;
                padding: 50px 0px;

                @include rwd(medium) {
                    width: 200px;
                }

                @include rwd(small) {
                    width: 100px;
                }

                @include rwd(mobile) {
                    width: 25%;
                    height: 524px;
                }

                >ul {
                    display: block;
                    padding-left: 40px;
                    padding-right: 40px;

                    @include rwd(mobile) {
                        padding-left: 0px;
                        padding-right: 0px;
                    }

                    >.p_num {
                        padding-top: 5px;
                        @include rwd(mobile){
                            padding-top: 5px;
                            padding-bottom: 16px;
                        }
                    }
                    >.p_name{
                        @include rwd(mobile){
                            padding-bottom: 27px;
                        }
                    }

                    >.p_text {
                        padding-bottom: 80px;
                        @include rwd(mobile){
                            padding-bottom: 108px;
                        }
                    }
                    >.p_img{
                        @include rwd(mobile){
                            padding-bottom: 18px;
                        }
                    }

                    >.p_tag {
                        padding-bottom: 56px;
                        @include rwd(mobile){
                            padding-bottom: 0;
                        }
                    }
                }

            }

            >.person_right {
                display: inline-block;
                position: relative;
                text-align: start;
                background-color: white;
                color: black;
                padding: 50px;
                padding-right: 140px;
                height: 500px;
                width: 350px;
                line-height: 3.14;

                @include rwd(medium) {
                    width: 200px;
                    line-height: 3.3;
                }

                @include rwd(small) {
                    padding-right: 120px;
                    width: 143px;
                    height: 500px;
                    line-height: 3.1;
                }

                @include rwd(mobile) {
                    padding: 0;
                    padding-right: 60px;
                    padding-bottom: 77px;
                    padding-top: 47px;
                    padding-left: 5px;
                    width: 60%;
                    line-height: 3.3;
                }

                >.tag {
                    display: block;
                    color: black;
                    line-height: 2;
                    margin-top: 12px;

                    >.tap1 {
                        display: inline-block;
                        background-color: #E2E2E2;
                        border-radius: 20px;
                        text-align: center;
                        width: 50px;
                        padding: 0;
                        margin-right: 4px;
                        margin-bottom: 10px;
                    }

                    >.tap2 {
                        display: inline-block;
                        background-color: #E2E2E2;
                        border-radius: 20px;
                        text-align: center;
                        width: 70px;
                        padding: 0;
                        margin-right: 4px;
                        margin-bottom: 10px;
                    }

                    >.tap3 {
                        display: inline-block;
                        display: inline-block;
                        background-color: #E2E2E2;
                        border-radius: 20px;
                        text-align: center;
                        width: 70px;
                        padding: 0;
                        margin-right: 4px;
                        margin-bottom: 10px;
                    }

                    >.tap4 {
                        display: inline-block;
                        background-color: #E2E2E2;
                        border-radius: 20px;
                        text-align: center;
                        width: 70px;
                        padding: 0;
                        margin-right: 4px;
                        margin-bottom: 10px;
                    }

                    >.tap5 {
                        display: inline-block;
                        background-color: #E2E2E2;
                        border-radius: 20px;
                        text-align: center;
                        width: 70px;
                        padding: 0;
                        margin-right: 4px;
                        margin-bottom: 10px;
                    }
                }

                >.submit_button {
                    position: absolute;
                    right: 30px;
                    bottom: 10px;

                    >.cancel {
                        display: inline-block;
                        border-radius: 10px;
                        background-color: #007552;
                        color: white;
                        padding: 0px 20px;
                        margin-right: 20px;
                        &:hover{
                            background-color: #62B45A;
                        }
                    }

                    >.correct {
                        display: inline-block;
                        border-radius: 10px;
                        background-color: #007552;
                        color: white;
                        padding: 0px 20px;
                        &:hover{
                            background-color: #62B45A;
                        }
                    }
                }
            }
        }
    }
}