div.FarmOrder {
    display: inline-block;
    background-color: #FBF8EF;
    width: 100%;
    height: 100%;

    @include rwd(large) {
        height: auto;
    }

    @include rwd(medium) {
        height: 100%;
    }

    @include rwd(small) {
        height: 100%;
    }

    @include rwd(mobile) {
        height: auto;
    }

    .FarmOrder_head {
        color: #F7C845;
        margin-top: 45px;
        margin-left: 300px;
        font-size: 30px;
        @include rwd(large){
            margin-left: 180px;
        }
        @include rwd(medium){
            margin-left: 140px;
        }
        @include rwd(small){
            margin-left: 120px;
        }
        @include rwd(mobile){
            margin-left: 20px;
        }
    }

    .plusbutton {
        display: block;
        margin: 20px 0px 20px 300px;
        @include rwd(large){
            margin: 20px 0px 20px 180px;
        }
        @include rwd(medium){
            margin: 20px 0px 20px 140px;
        }
        @include rwd(small){
            margin: 20px 0px 20px 120px;
        }
        @include rwd(mobile){
            margin: 20px 0px 20px 20px;
        }
        >.plus {
            display: inline-block;
            border: 1px solid #007552;
            background-color: #007552;
            border-radius: 5px;
            text-align: center;
            padding: 10px;
            color: white;

            >a {
                text-decoration: none;
                color: white;
            }
        }
    }

    .FarmOrder_bottom {
        display: block;
        height: auto;
        width: 100%;
        text-align: center;

        >.list_1 {
            display: flex;
            height: auto;
            text-align: start;
            margin-left: 30%;
            @include rwd(large){
                margin-left: 25%;
            }
            @include rwd(medium) {
                margin-left: 25%;
            }

            @include rwd(small) {
                margin-left: 18%;
            }

            @include rwd(mobile) {
                margin-left: 4%;
            }
            
            >.Ordernum{
                width: 15%;
                text-align: center;
                background-color: white;
                @include rwd(mobile){
                    width: 20%;
                }
                >.title{
                    background-color: #F7C845;
                    padding: 20px 0px 20px 0px;
                    @include rwd(mobile){
                        padding: 20px 0px 20px 0px;
                    }
                }
                >p{
                    padding: 20px 0px 20px 0px;
                    @include rwd(mobile){
                        padding: 20px 0px 55px 0px;
                    }
                }
            }
            >.Ordername{
                width: 15%;
                text-align: center;
                background-color: white;
                @include rwd(large){
                    width: 19.3%;
                }
                @include rwd(medium){
                    width: 23.4%;
                }
                @include rwd(small){
                    width: 28.5%;
                }
                @include rwd(mobile){
                    width: 20%;
                }
                >.title{
                    background-color: #F7C845;
                    @include rwd(mobile){
                        padding: 20px 0px 20px 0px;
                    }
                }
                >p{
                    padding: 20px 0px 20px 0px;
                }
            }
            >.Orderprice{
                width: 15%;
                text-align: center;
                background-color: white;
                @include rwd(mobile){
                    width: 20%;
                }
                >.title{
                    background-color: #F7C845;
                    @include rwd(mobile){
                        padding: 20px 0px 20px 0px;
                    }
                }
                >p{
                    padding: 20px 0px 20px 0px;
                    @include rwd(mobile){
                        padding: 36px 0px 38px 0px;
                    }
                }
            }
            >.Ordertime{
                width: 15%;
                text-align: center;
                background-color: white;
                @include rwd(large){
                    width: 16.8%;
                }
                @include rwd(medium){
                    width: 20.3%;
                }
                @include rwd(small){
                    width: 24.7%;
                }
                @include rwd(mobile){
                    width: 20%;
                }
                >.title{
                    background-color: #F7C845;
                    @include rwd(mobile){
                        padding: 20px 0px 20px 0px;
                    }
                }
                >p{
                    padding: 20px 0px 20px 0px;
                }
            }
            >.Orderputon{
                width: 10%;
                text-align: center;
                background-color: white;
                @include rwd(small){
                    width: 11.4%;
                }
                @include rwd(mobile){
                    width: 19%;
                }
                >.title{
                    background-color: #F7C845;
                    padding: 20px 0;
                    @include rwd(mobile){
                        padding: 20px 0px 20px 0px;
                    }
                }
                >p{
                    padding: 15.3px 0px 22.4px 0px;
                    @include rwd(mobile){
                        padding: 36px 0px 36px 0px;
                    }
                }
                .statusBtn[type=checkbox] {
                    height: 0;
                    width: 0;
                    visibility: hidden;
                }

                .statuslable {
                    cursor: pointer;
                    text-indent: -9999px;
                    width: 35px;
                    height: 19px;
                    background: rgb(161, 161, 161);
                    display: inline-block;
                    border-radius: 100px;
                    position: relative;
                    top: 6px;
                }

                .statuslable:after {
                    content: '';
                    position: absolute;
                    top: 1.5px;
                    left: 2px;
                    width: 15px;
                    height: 15px;
                    background: #fff;
                    border-radius: 90px;
                    transition: 0.3s;
                }

                .statusBtn:checked+.statuslable {
                    background: #bada55;
                }

                .statusBtn:checked+.statuslable:after {
                    left: calc(100% - 2px);
                    transform: translateX(-100%);
                }

                .statuslable:active:after {
                    width: 20px;
                }
            }
        }


        .pagination_block {
            display: block;
            margin: auto;
            margin-top: 20px;
            margin-left: 13%;

            @include rwd(medium) {
                margin-left: 0px;
                margin-bottom: 10px;
            }

            @include rwd(mobile) {
                text-align: center;
                margin-left: 30px;
            }
            @include rwd(small){
                margin-left: 13%;
            }

            >ul.pagination {
                list-style: none;
                display: inline-block;
                margin: 0;
                padding: 0;
                font-size: 0;
                text-align: center;

                >li {
                    display: inline-block;

                    >a {
                        display: inline-block;
                        text-decoration: none;

                        border: 1px solid #007552;
                        /* 留意 */
                        /* 留意：將全部的右邊框都移除 */

                        text-align: center;
                        padding: 5px 10px;
                        font-size: 1rem;
                        color: black;

                        @include rwd(mobile) {
                            padding: 5px 5px;
                        }
                    }

                    >a.-on {
                        background-color: #FFD3C1;
                        color: #007552;
                    }

                    >a:hover {
                        background-color: #FFD3C1;
                        color: #007552;
                    }
                }

                >li:first-child>a {
                    display: inline-block;
                    margin-right: 10px;
                    background-color: #007552;
                    color: white;
                }

                >li:first-child>a:hover {
                    background-color: #007552;
                    color: white;
                }

                >li:last-child>a {
                    border-right: 1px solid #007552;
                    margin-left: 10px;
                    background-color: #007552;
                    color: white;
                }

                >li:last-child>a:hover {
                    background-color: #007552;
                    color: white;
                }
            }
        }
    }
}

// div.Order>.Order_bottom>.Orderlist>.list_1>span.triangle{
//     display: inline-block;
//     // border: 10px solid red;
//     border-left: 50px solid blue transparent;
//     border-right: 50px solid red transparent;
//     border-top: 50px solid #007552;
//     border-bottom: 0px solid black;
//     width: 0px;
//     height: 0px;
// }


/* 留意: 將最後一個 li 裡的 a，右邊框加回來 */
/* 留意: 將最後一個 li 裡的 a，加上圓角 */

/* 留意: 將第一個 li 裡的 a，加上圓角 */