div.FarmBlog {
    display: inline-block;
    background-color: #FBF8EF;
    width: 87.2%;
    height: 100vh;

    .FarmBlog_head {
        color: #F7C845;
        margin-top: 40px;
        margin-left: 40px;
        font-size: 30px;
    }

    .plusbutton {
        display: block;
        margin: 20px 0px 40px 40px;

        >.plus {
            display: inline-block;
            border: 1px solid #007552;
            background-color: #007552;
            border-radius: 5px;
            text-align: center;
            padding: 10px;
            color: white;

            >a {
                text-decoration: none;
                color: white;
            }
        }
    }

    .FarmBlog_bottom {
        display: block;
        height: auto;
        text-align: center;

        >.list_1 {

            display: block;
            width: 600px;
            height: auto;
            text-align: start;
            margin: auto;

            >.list_th {
                display: inline-block;
                box-sizing: border-box;
                background-color: #F7C845;
                width: 740px;
                padding-top: 10px;
                padding-bottom: 10px;
                /* padding-left: 10px; */
                /* padding-right: 10px; */
                color: #007552;
                margin: auto;

                >.num {
                    display: inline-block;
                    box-sizing: border-box;
                    padding: 0 3px;
                }

                >.name {
                    display: inline-block;
                    box-sizing: border-box;
                    padding: 0 66px;
                }

                >.price {
                    display: inline-block;
                    box-sizing: border-box;
                    padding: 0 96.7px;
                }

                >.time {
                    display: inline-block;
                    box-sizing: border-box;
                    padding: 0 50px;
                }

                >.puton {
                    display: inline-block;
                    box-sizing: border-box;
                    padding: 0 30px;
                }
            }

            >.list_td {
                border: 1px solid #F7C845;
                border-bottom: 0px;
                border-top: 0px;
                background-color: white;
                display: inline-block;
                box-sizing: border-box;
                width: 740px;
                margin: auto;

                >p {
                    display: inline-block;
                    padding: 10px 15.5px;
                }

                .statusBtn[type=checkbox] {
                    height: 0;
                    width: 0;
                    visibility: hidden;
                }

                .statuslable {
                    cursor: pointer;
                    text-indent: -9999px;
                    width: 35px;
                    height: 19px;
                    background: rgb(161, 161, 161);
                    display: block;
                    border-radius: 100px;
                    position: relative;
                    top: -6px;
                }

                .statuslable:after {
                    content: '';
                    position: absolute;
                    top: 1.5px;
                    left: 2px;
                    width: 15px;
                    height: 15px;
                    background: #fff;
                    border-radius: 90px;
                    transition: 0.3s;
                }

                .statusBtn:checked+.statuslable {
                    background: #bada55;
                }

                .statusBtn:checked+.statuslable:after {
                    left: calc(100% - 2px);
                    transform: translateX(-100%);
                }

                .statuslable:active:after {
                    width: 20px;
                }
            }

            >.list_td:last-child {
                border-bottom: 1px solid #F7C845;
            }

        }


        .pagination_block {
            display: block;
            margin: auto;
            margin-top: 20px;
            margin-left: 180px;

            >ul.pagination {
                list-style: none;
                display: inline-block;
                margin: 0;
                padding: 0;
                font-size: 0;
                text-align: center;

                >li {
                    display: inline-block;

                    >a {
                        display: inline-block;
                        text-decoration: none;

                        border: 1px solid #007552;
                        /* 留意 */
                        /* 留意：將全部的右邊框都移除 */

                        text-align: center;
                        padding: 5px 10px;
                        font-size: 1rem;
                        color: black;
                    }

                    >a.-on {
                        background-color: #FFD3C1;
                        color: #007552;
                    }

                    >a:hover {
                        background-color: #FFD3C1;
                        color: #007552;
                    }
                }

                >li:first-child>a {
                    display: inline-block;
                    margin-right: 10px;
                    background-color: #007552;
                    color: white;
                }

                >li:first-child>a:hover {
                    background-color: #007552;
                    color: white;
                }

                >li:last-child>a {
                    border-right: 1px solid #007552;
                    margin-left: 10px;
                    background-color: #007552;
                    color: white;
                }

                >li:last-child>a:hover {
                    background-color: #007552;
                    color: white;
                }
            }
        }
    }
}


// div.Order>.Order_bottom>.Orderlist>.list_1>span.triangle{
//     display: inline-block;
//     // border: 10px solid red;
//     border-left: 50px solid blue transparent;
//     border-right: 50px solid red transparent;
//     border-top: 50px solid #007552;
//     border-bottom: 0px solid black;
//     width: 0px;
//     height: 0px;
// }


/* 留意: 將最後一個 li 裡的 a，右邊框加回來 */
/* 留意: 將最後一個 li 裡的 a，加上圓角 */

/* 留意: 將第一個 li 裡的 a，加上圓角 */