div.Registered{
    display: inline-block;
    color: #007552;
    background-color: #FBF8EF;
    width: 100%;
    height: auto;
    vertical-align: top;
    @include rwd(mobile){
        width: 95%;
    }
    >.Registered_head{
        color: #F7C845;
        margin-top: 45px;
        margin-left: 300px;
        font-size: 30px;
        @include rwd(large){
            margin-left: 160px;
            margin-bottom: 10px;
        }
        @include rwd(medium){
            margin-left: 130px;
        }
        @include rwd(small){
            margin-left: 90px;
        }
        @include rwd(mobile){
            margin-left: 20px;
        }
    }
    >.Registered_bottom{
        display: block;
        height: auto;
        text-align: center;
        @include rwd(mobile) {
            display: block;
            text-align: center;
            width: 100%;
            margin-left: 13px;
        }
        >.bottom_form{
            margin-top: 100px;
            margin-left: 190px;
            line-height: 2;
            font-size: 16px;
            @include rwd(large){
                margin-top: 90px;
            }
            @include rwd(medium){
                margin-top: 90px;
                margin-left: 70px;
            }
            @include rwd(small) {
                margin-top: 40px;
                margin-left: 40px;
                line-height: 1.8;
            }

            @include rwd(mobile) {
                display: flex;
                width: 100%;
                margin-top: 40px;
                margin-left: 0;
                padding-right: 3px;
                line-height: 2;
                font-size: 16px;
            }
            >.Registered_left{
                vertical-align: top;
                display: inline-block;
                background-color: #F7C845;
                width: 260px;
                height: 500px;
                padding: 50px 0px;
                @include rwd(medium){
                    width: 200px;
                }
                @include rwd(small){
                    width: 100px;
                }
                @include rwd(mobile){
                    width: 25%;
                }
                >ul{
                    >li{
                        padding: 10px 0;
                    }
                }
            }
            >.Registered_right{
                display: inline-block;
                position: relative;
                text-align: start;
                background-color: white;
                padding: 50px;
                padding-right: 145px;
                height: 500px;
                width: 260px;
                line-height: 3.3;
                @include rwd(medium) {
                    width: 200px;
                    line-height: 3.3;
                }

                @include rwd(small) {
                    padding-right: 120px;
                    width: 143px;
                    height: 500px;
                    line-height: 3.1;
                }

                @include rwd(mobile) {
                    padding: 0;
                    padding-right: 84.8px;
                    padding-bottom: 54px;
                    padding-top: 47px;
                    padding-left: 5px;
                    width: 50%;
                    line-height: 3.3;
                }
                >label {
                    margin-right: 10px;
                }
                >.submit_button{
                    position: absolute;
                    border-radius: 5px;
                    background-color: #007552;
                    color: white;
                    padding: 0px 20px;
                    right: 30px;
                    bottom: 10px;
                    line-height: 2.3;
                    &:hover{
                        background-color: #62B45A;
                    }
                }
            }
        }
    }
}