@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

#test {
  height: 33000px;
  #home_main {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    #scroll_btn {
      position: fixed;
      right: 40px;
      bottom: 40px;
      background-color: #666;
      color: #fbf8ef;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      border: none;
      font-size: 1.8rem;

      &:hover {
        color: #f7c852;
      }
    }
    #scroll_section {
      position: fixed;
      top: 50%;
      right: 0px;
      transform: translate(-50%, -50%);

      .scroll_section_btn {
        background-color: transparent;
        color: #666;
        box-sizing: border-box;
        border: none;
        width: 100px;
        font-family: "Noto Serif TC", serif;
        font-size: 1.6rem;
        font-weight: 800;
        display: block;
        margin-top: 40px;
        border-radius: 5px;
        transition: all 0.5s;
        opacity: 0.3;

        @include rwd(large) {
          width: 90px;
          font-size: 1.6rem;
        }
        &:hover {
          opacity: 1;
        }
      }

      #scroll_top.scroll_section_btn_add {
        opacity: 1;
      }
      #scroll_knowledge.scroll_section_btn_add {
        opacity: 1;
      }
      #scroll_market.scroll_section_btn_add {
        opacity: 1;
      }
      #scroll_blog.scroll_section_btn_add {
        opacity: 1;
      }
      #scroll_member.scroll_section_btn_add {
        opacity: 1;
      }
      #scroll_footer.scroll_section_btn_add {
        opacity: 1;
      }

      & button:nth-child(1) {
        border-radius: 50% 50%;
        width: auto;
        padding: 10px 5px;
        margin: 0 auto;
      }

      & button:nth-child(6) {
        border-radius: 50% 50%;
        width: auto;
        padding: 10px 5px;
        margin: 0 auto;
        margin-top: 40px;
      }
    }
    #mainLOGO {
      width: 300px;
      height: 200px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;

      @include rwd(mobile) {
        width: 225px;
        height: 150px;
      }
    }
    #mainText {
      position: fixed;
      width: 40%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2rem;
      line-height: 3rem;
      color: #666;
      text-align: center;
      display: none;
      box-sizing: border-box;

      @include rwd(large) {
        width: 80%;
      }
      @include rwd(medium) {
        width: 100%;
        padding: 0 10px;
      }
    }
    #knowledge_container {
      display: none;
      position: fixed;
      top: 50%;
      left: 25%;
      transform: translate(-50%, -50%);
      opacity: 0.9;
      text-align: center;
      padding-left: 60px;
      .knowledge_page_parent {
        position: relative;
        background-color: #007453;
        display: inline-block;
        border-radius: 5px;
        padding: 20px 20px;
        margin-top: 50px;
        vertical-align: top;
        z-index: 2;
        @include rwd(mobile) {
          margin-top: 40px;
        }
      }

      @include rwd(large) {
        left: 50%;
      }
    }
  }
}

.homebtn {
  margin-top: 40px;
  bottom: 5%;
}

.knowledge_page {
  display: inline-block;
  width: 400px;
  height: 500px;
  // background-color: #fbf8ef;
  perspective: 100px;
  display: none;
  @include rwd(large) {
    width: 320px;
    height: 400px;
  }
  @include rwd(mobile) {
    width: 280px;
    height: 350px;
  }
}

// .knowledge_page::before {
//     content: '';
//     position: absolute;
//     height: 100%;
//     z-index: -1;
//     width: 95%;
//     left: 0%;
//     background-color: #fbf8ef;
//     border: 1px solid #007453;
// }
.knowledge_page::after {
  content: "";
  position: absolute;
  top: 3%;
  height: 94%;
  z-index: -1;
  width: 10%;
  left: 94%;
  background-color: #efefef;
  border: 1px solid #007453;
  transform: rotateY(15deg);
  @include rwd(mobile) {
    height: 96%;
    top: 2%;
  }
}

.knowledge_page_back {
  position: absolute;
  height: 100%;
  width: 95%;
  left: 0%;
  border: 1px solid #007453;
  background-color: #efefef;
}

.knowledge_page_title {
  font-size: 2.5rem;
  padding: 10px 0;
  border: 3px solid #0e7453;
  margin: 0 20px;
  margin-top: 30px;
}
.knowledge_page_content_fall {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("./../assets/knowledgepagfall.svg");
}
.knowledge_page_content {
  height: 70%;
  border: 3px solid #0e7453;
  margin: 0 20px;
  margin-top: 20px;
  position: relative;

  @include rwd(mobile) {
    height: 60%;
  }
  p {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 0 10px;

    @include rwd(mobile) {
      font-size: 1.4rem;
    }
  }

  .knowledge_page_content_spring {
    opacity: 0.5;
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    background-image: url("./../assets/knowledgepagespring.svg");
    background-position: center;
    background-size: cover;
  }
  .knowledge_page_content_summer {
    height: 75%;
    div {
      height: 100%;
      background-color: #f7c852;
      padding: 0;

      div {
        display: inline-block;
        margin-top: 9%;
        width: 200px;
        height: 70%;
        background-size: cover;
        background-position: center;
        background-image: url("./../assets/knowledgepagesummer.png");
      }
    }
  }
  .knowledge_page_content_winter {
    width: 100%;
    height: 100%;
    h2 {
      border-bottom: 1px dotted #0e7453;
      text-align: left;
      box-sizing: border-box;

      margin: 0 10px;
      font-size: 2rem;
      height: 18%;

      span {
        display: inline-block;
        height: 100%;
        width: unset;
        line-height: 90px;
        @include rwd(large) {
          line-height: 70px;
        }
        @include rwd(mobile) {
          line-height: 37px;
          font-size: 1.6rem;
        }
      }
    }
  }
  span {
    display: inline-block;
    height: 25%;
    width: 100%;
    vertical-align: middle;
    img {
      display: inline-block;
      width: 50px;
      vertical-align: middle;
      height: 100%;
      @include rwd(mobile) {
        width: 30px;
      }
    }
    span {
      display: inline-block;
      font-size: 2rem;
      width: unset;
      vertical-align: middle;
      padding-left: 20px;
      height: 100%;
      line-height: 87px;

      @include rwd(medium) {
        line-height: 70px;
      }
      @include rwd(mobile) {
        line-height: 52px;
      }
    }
  }
}

@keyframes home_title_animate {
  100% {
    margin-left: 10px;
    margin-top: 10px;
  }
}
@keyframes home_title_beforeanimate {
  100% {
    bottom: -9px;
    height: 5px;
    left: 3px;
  }
}
@keyframes home_title_afteranimate {
  100% {
    right: -10px;
    width: 6px;
    bottom: -4px;
  }
}

.home_title {
  padding: 10px 10px;
  color: #333;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 48%;
  transform: translateX(-50%);
  cursor: pointer;
  font-size: 3.5rem;
  transition: all 0.5s;
  animation-name: home_title_animate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: both;
  background-color: #fbf8ef;
  outline: none;
  border: 2px solid #666;
  z-index: 2;
  font-weight: 600;
  font-family: "Noto Serif TC", serif;
  @include rwd(mobile) {
    font-size: 2.5rem;
  }

  &::before {
    position: absolute;
    content: "";
    transition: all 0.5s;
    bottom: -19px;
    height: 15px;
    width: 100%;
    left: 7px;
    animation-name: home_title_beforeanimate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    transform: skewX(45deg);
    background-color: #f7c852;
    border: 2px solid #666;
    border-top: none;
  }

  &::after {
    position: absolute;
    content: "";
    transition: all 0.5s;
    right: -19px;
    height: 100%;
    width: 15px;
    bottom: -10px;
    animation-name: home_title_afteranimate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    transform: skewY(45deg);
    background-color: #f7c852;
    border: 2px solid #666;
    border-left: none;
    border-bottom: none;
  }

  &:hover {
    animation: none;
    &::before {
      animation: none;
    }
    &::after {
      animation: none;
    }
  }

  &:active {
    margin-left: 10px;
    margin-top: 10px;
    &::before {
      bottom: -9px;
      height: 5px;
      left: 3px;
    }

    &::after {
      right: -10px;
      width: 6px;
      bottom: -4px;
    }
  }
}

.season {
  position: absolute;
  left: 0px;
  display: inline-block;

  width: 60px;
  height: 400px;
  margin-top: 50px;
  z-index: 1;
}

.spring_tab {
  display: inline-block;
  position: absolute;
  right: -10px;
  cursor: pointer;
  background-color: #ff7c74;
  border-radius: 5px 0 0 5px;
  font-size: 20px;
  padding: 20px 0px;
  padding-left: 10px;
  padding-right: 15px;
  font-weight: 800;
  transition: all 0.5s;
  text-align: center;
}

.summer_tab {
  position: absolute;
  top: 65px;
  right: -10px;
  cursor: pointer;
  background-color: #f6d16b;
  border-radius: 5px 0 0 5px;
  font-size: 20px;
  font-weight: 800;
  padding: 20px 0px;
  padding-left: 10px;
  padding-right: 15px;
  transition: all 0.5s;
}

.fall_tab {
  position: absolute;
  cursor: pointer;
  background-color: #ff9444;
  top: 130px;
  right: -10px;
  border-radius: 5px 0 0 5px;
  font-size: 20px;
  font-weight: 800;
  padding: 20px 0px;
  padding-left: 10px;
  padding-right: 15px;
  transition: all 0.5s;
}

.winter_tab {
  position: absolute;
  cursor: pointer;
  background-color: #9aa4ff;
  top: 195px;
  right: -10px;
  border-radius: 5px 0 0 5px;
  font-size: 20px;
  font-weight: 800;
  padding: 20px 0px;
  padding-left: 10px;
  padding-right: 15px;
  transition: all 0.5s;
}

div.knowledge_page.-on {
  display: inline-block;
}

.spring_tab.-on,
.summer_tab.-on,
.fall_tab.-on,
.winter_tab.-on {
  right: 0px;
}

#market_container {
  display: inline-block;
  display: none;
  position: fixed;
  opacity: 0.9;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
  @include rwd(large) {
    left: 50%;
  }
}

#market_page {
  width: 400px;
  height: 500px;
  margin-top: 20px;
  background-color: #007453;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding: 20px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 40px;
  @include rwd(mobile) {
    width: 320px;
    height: 400px;
  }
}

.market_pic {
  width: 100%;
  height: 65%;
  box-sizing: border-box;
}

.market_pic > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0;
}

.market_intro {
  box-sizing: border-box;
  width: 100%;
  height: 35%;
  background-color: #fbf8ef;
  padding: 0 20px;

  padding-top: 10px;
}

.market_intro > h3 {
  text-align: left;
  font-size: 20px;
}

.market_tags {
  text-align: left;
  margin-top: 10px;
}

.market_tags > a {
  color: #808080;
  font-weight: 800;
  font-size: 14px;
  text-decoration: none;
}

.market_tags > img {
  width: 12px;
}

.input_number {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #007453;
  color: #007453;
  background-color: #fbf8ef;
  box-sizing: border-box;
  border-right: none;
}

.number_price {
  text-align: left;
  height: 40px;
  margin-top: 10px;
}

.number_price > span:nth-child(3) {
  float: right;
  color: #0e7453;
  line-height: 40px;
  font-size: 20px;
}

.input_number_select {
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.input_number_select > button {
  display: block;
  height: 50%;
  width: 20px;
  padding: 0;
  text-align: center;
  border: 1px solid #007453;
  background-color: #fbf8ef;
  color: #007453;
  outline: none;
}

button.plus_number {
  border-bottom: none;
}

.pay_cart {
  width: 100%;
  height: 25%;
  text-align: left;
  margin-top: 50px;
  @include rwd(mobile) {
    margin-top: 20px;
    height: 30%;
  }
}

.pay_cart > button:nth-child(2) {
  float: right;
  background-color: #fbf8ef;
  color: #007453;
  &:hover {
    background-color: #fca87c;
    color: #fbf8ef;
  }
}

.pay_cart > button {
  width: 48%;
  height: 100%;
  border: 1px solid #007453;
  background-color: #fbf8ef;
  color: #007453;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
  outline: none;
  transition: all 0.5s;
  &:hover {
    background-color: #fca87c;
    color: #fbf8ef;
  }
}

#blog_container {
  opacity: 0.9;
  display: none;
  position: fixed;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  text-align: center;
  @include rwd(large) {
    left: 50%;
  }
}

#blog_page {
  background-color: #007453;
  border-radius: 5px;
  padding: 20px 20px;
  margin-top: 40px;
  @include rwd(mobile) {
    margin-top: 30px;
  }
}

.blog_tags_area {
  width: 400px;
  height: 350px;
  background-color: #ffd4c3;

  margin: 0 auto;
  margin-top: 70px;
  @include rwd(large) {
    width: 320px;
    margin-top: 40px;
  }
  @include rwd(mobile) {
    width: 280px;
  }
}

.blog_tags_area > h2 {
  font-size: 30px;
  padding: 20px 0;
  background-color: #ffd4c3;
  border-bottom: 1px solid #fbf8ef;
}

.blog_tags_area > div {
  height: 70px;
  width: 100%;
  background-color: #f5c652;
  border-bottom: 1px solid #fbf8ef;
  position: relative;
  transition: all 0.5s;
  left: 0;
  cursor: pointer;
  &:hover {
    left: 30px;
  }
}

.blog_tags_area > div > img {
  width: 30px;
  vertical-align: middle;
}
.blog_tags_area > div > span {
  font-size: 20px;
  font-weight: 800;
  line-height: 70px;
  margin-left: 10px;
}

#member_container {
  opacity: 0.9;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#member_page {
  width: 100%;

  background-color: #f7c852;
  box-sizing: border-box;
  padding: 50px;
  margin-top: 50px;
  @include rwd(large) {
    padding: 20px;
  }
}

#member_page > img {
  width: 500px;
  display: block;
  margin: 0 auto;
  @include rwd(large) {
    width: 320px;
  }
  @include rwd(mobile) {
    width: 280px;
  }
}

.home_footer {
  display: none;
  position: fixed;
  font-weight: 800;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  @include rwd(large) {
    width: 80%;
  }
  @include rwd(medium) {
    width: 100%;
  }
  p {
    color: #666;
    font-size: 2rem;
    @include rwd(mobile) {
      font-size: 1rem;
    }
  }
}
