#index_front_container {
  background: #FFD3C1;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;

  // width: 100%;
  // min-height: 100vh;
  // text-align: center;
  // perspective: 200px;
  // position: relative;
  // img {
  //   width: 200px;
  //   padding-top: 100px;
  // }
  .front_background {
    width: 100%;
    background-image: url("./../assets/index_img/front_background.svg");
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0;
    padding-bottom: 25%;
    z-index: 10;
  }

  .front_LOGO {
    margin: auto;
    width: 40%;
    padding-top: 6%;

  }

  .btn_left {
    // width: 250px;
    // height: 250px;
    // background-color: transparent;
    color: #333;
    font-weight: 800;
    // border-radius: 50%;
    font-size: 3rem;
    // border: 2px solid #007453;
    // border: none;
    position: absolute;
    top: 40%;
    left: 20%;
    // transform: translate(-50%, -50%);
    perspective: 100px;
    overflow: hidden;

     // Reset
     background: none;
     border: none;
     cursor: pointer;
     // End reset
     border: 2px solid #666;
     background-color: #FBF8EF;
     padding: 1rem 1.5rem;
     border-radius: .25rem;
     box-shadow:
       5px 5px 0 0 #333;
     transition: .3s ease;
 
     &:hover {
       outline: 0;
       transform: translate(5px, 5px);
       box-shadow:
         0 0 0 0 #333;
       background-color: #FBF8EF;
     }

    @include rwd(mobile) {
      font-size: 2rem;
      width: 25%;
      height: 10%;
    }

    // .waterpear_top {
    //   background-size: cover;
    //   background-image: url("./../assets/index_img/waterpear_top.svg");
    //   width: 150px;
    //   height: 55px;
    //   position: absolute;
    //   top: -50px;
    //   left: 100px;

    //   z-index: -2;
    // }
  }

  .btn_right {
    // width: 250px;
    // height: 250px;
    // background-color: transparent;
    color: #333;
    // border-radius: 50%;
    font-size: 3rem;
    font-weight: 800;
    // border: 2px solid #007453;
    // border: none;
    position: absolute;
    top: 40%;
    left: 70%;
    // transform: translate(-50%, -50%);

    // Reset
    background: none;
    border: none;
    cursor: pointer;
    // End reset
    border: 2px solid #666;
    background-color: #FBF8EF;
    padding: 1rem 1.5rem;
    border-radius: .25rem;
    box-shadow:
      5px 5px 0 0 #333;
    transition: .3s ease;

    &:hover {
      outline: 0;
      transform: translate(5px, 5px);
      box-shadow:
        0 0 0 0 #333;
      background-color: #FBF8EF;
    }


      @include rwd(mobile) {
      font-size: 2rem;
      width: 25%;
      height: 10%;
      }

      // 
    }



    .indexClouds {
      max-width: 100%;
      height: auto;
      display: block;
    }

    .clouds {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      transform: translateZ(0);
    }

    .cloud {
      position: absolute;
      top: 20%;
      width: 300px;
      right: 0;
      opacity: 1;
    }

    .cloud.front {
      z-index: 9;
    }

    .cloud.distant {
      z-index: 1;
    }

    .cloud.background {
      z-index: 1;
    }

    /*Cloud Sizing*/
    .cloud.smaller {
      margin-right: 400px;
      width: 100px;
      margin-top: 50px;
    }

    .cloud.small {
      margin-right: 200px;
      width: 150px;
    }

    .cloud.big {
      width: 500px;
      margin-top: 50px;
      margin-right: 150px;
    }

    .cloud.massive {
      width: 600px;
      margin-top: 20px;
      margin-right: 0px;
    }


    /*Cloud: Animation*/
    .cloud {
      -webkit-animation-name: cloud-movement;
      -webkit-animation-timing-function: linear;
      -webkit-animation-direction: forwards;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-duration: 8s;

      -moz-animation-name: cloud-movement;
      -moz-animation-timing-function: linear;
      -moz-animation-direction: forwards;
      -moz-animation-iteration-count: infinite;
      -moz-animation-duration: 8s;

      animation-name: cloud-movement;
      animation-timing-function: linear;
      animation-direction: forwards;
      animation-iteration-count: infinite;
      animation-duration: 8s;
    }

    .slow {
      -webkit-animation-duration: 9.2s;
      -moz-animation-duration: 9.2s;
      animation-duration: 9.2s;
    }

    .slower {
      -webkit-animation-duration: 11.2s;
      -moz-animation-duration: 11.2s;
      animation-duration: 11.2s;
    }

    .slowest {
      -webkit-animation-duration: 13.5s;
      -moz-animation-duration: 13.5s;
      animation-duration: 13.5s;
    }

    .super-slow {
      -webkit-animation-duration: 20.5s;
      -moz-animation-duration: 20.5s;
      animation-duration: 20.5s;
    }

    @-webkit-keyframes cloud-movement {
      0% {
        opacity: 0.1;
        -webkit-transform: translateX(300px);
        -moz-transform: translateX(300px);
        transform: translateX(300px);
      }

      10% {

        opacity: 0.7;
      }

      90% {
        opacity: 0;
      }

      100% {
        opacity: 0;
        -webkit-transform: translateX(-1000px);
        -moz-transform: translateX(-1000px);
        transform: translateX(-1000px);
      }
    }

  }