 div.Order {
    display: inline-block;
    background-color: #FBF8EF;
    width: 87.2%;
    height: 100vh;

    .Order_head {
      color: #F7C845;
      margin-top: 40px;
      margin-left: 40px;
      font-size: 30px;
    }

    .Order_bottom {
      display: block;
      height: auto;
      text-align: center;

      >.Orderlist {
        margin-top: 40px;
        line-height: 2;

        >.list_1 {
          display: inline-block;
          border: 2px solid #F7C845;
          background-color: white;
          text-align: start;
          width: 768px;
          height: 915px;
          font-size: 17px;
          @include rwd(medium){
            width: 720px;
          }
          @include rwd(small){
            width: 620px;
          }
          >.list_th {
            display: block;
            background-color: #F7C845;
            color: #007552;
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 20px;

            >p {
              display: inline-block;
              padding: 0 58px;
              @include rwd(medium){
                padding: 0 53px;
              }
              @include rwd(small){
                padding: 0 40.6px;
              }
            }
          }

          >.list_td {
            border: 1px solid #F7C845;
            background-color: white;
            display: block;
            margin-bottom: 20px;
            margin-left: 20px;
            margin-right: 20px;

            >p {
              display: inline-block;
              padding: 0 59px;
              @include rwd(medium){
                padding: 0 53px;
              }
              @include rwd(small){
                padding: 0 42.9px;
              }
            }
          }

          .listnum,
          .list_slide {
            >p {
              padding-left: 10px;
              color: #007552;
            }
          }

          .list_th2 {
            display: block;
            background-color: #F7C845;
            color: #007552;
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 20px;

            >p {
              display: inline-block;
    padding: 0 50.4px;
              @include rwd(medium){
                padding: 0 47.5px;
              }
              @include rwd(small){
                padding: 0 37.5px;
              }
            }
          }

          .list_td2 {
            border: 1px solid #F7C845;
            background-color: white;
            display: block;
            margin-left: 20px;
            margin-right: 20px;

            >p {
              display: inline-block;
              padding: 0 44.8px;
              @include rwd(medium){
                padding: 0 39.8px;
              }
              @include rwd(small){
                padding: 0 29.8px;
              }
            }
            >p.td2_price{
              display: inline-block;
    padding: 0 30px;
            }
            >p.td2_num{
              display: inline-block;
              padding: 0 44.8px;
            }
          }

          .list_td3 {
            border: 1px solid #F7C845;
            background-color: white;
            display: block;
            margin-left: 20px;
            margin-right: 20px;

            >p {
              display: inline-block;
              padding: 0 44.4px;
              @include rwd(medium){
                padding: 0 39.8px;
              }
              @include rwd(small){
                padding: 0 29.8px;
              }
            }
          }

          .list_td3:last-child {
            border: 1px solid #F7C845;
            background-color: white;
            display: block;
            margin-left: 20px;
            margin-right: 20px;
          }

          .listnum,
          .list_slide {
            >p {
              padding-left: 10px;
              color: #007552;
            }
          }
          .total{
            display: block;
            background-color: #FFD3C1;
            margin: 30px 20px;
            >p{
              text-align: end;
              padding-right: 10px;
              color: #007552;
            }
            >p:first-child{
              padding-top: 10px;
            }
            >p:last-child{
              padding-bottom: 10px;
              color: #CC113C;
            }
          }
          .address{
            display: block;
            background-color: #FFD3C1;
            margin: 30px 20px;
            >.address_left{
              display: inline-block;
              >p{
                padding-left: 10px;
              color: #007552;
              }
            }
            >.address_right{
              display: inline-block;
              >p{
                padding-left: 10px;
                >span{
                  padding-left: 10px;
                  color: #CC113C;
                }
              }
              
            }
          }
          .Evaluation{
            display: block;
            background-color: #DCE07A;
            margin: 30px 20px;
            padding: 10px;
            >.star{
              display: block;
              background-color: #FBF8EF;
              margin: 10px 30px;
              text-align: end;
              >p{
                display: inline-block;
                margin-top: 100px;
                margin-right: 10px;
                margin-bottom: 10px;
                padding: 0 10px;
                background-color: #007552;
                border-radius: 5px;
                color: white;
              }
              >p:hover{
                background-color: #62B45A;
                color: white;
              }
              >.starimg{
                display: inline-block;
                width: 50px;
                height: 50px;
                padding-top: 30px;
                margin-right: 20px;
                vertical-align: top;
                >img{
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
          
        }

      }

      .pagination_block {
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 20px;

        >ul.pagination {
          list-style: none;
          margin: 0;
          padding: 0;
          font-size: 0;

          >li {
            display: inline-block;

            >a {
              display: inline-block;
              text-decoration: none;

              border: 1px solid #007552;
              /* 留意 */
              /* 留意：將全部的右邊框都移除 */

              text-align: center;
              padding: 5px 10px;
              font-size: 1rem;
              color: black;
            }

            >a.-on {
              background-color: #FFD3C1;
              color: #007552;
            }

            >a:hover {
              background-color: #FFD3C1;
              color: #007552;
            }
          }

          >li:first-child>a {
            display: inline-block;
            margin-right: 10px;
            background-color: #007552;
            color: white;
          }

          >li:first-child>a:hover {
            background-color: #007552;
            color: white;
          }

          >li:last-child>a {
            border-right: 1px solid #007552;
            margin-left: 10px;
            background-color: #007552;
            color: white;
          }

          >li:last-child>a:hover {
            background-color: #007552;
            color: white;
          }
        }
      }
    }
  }

  // div.Order>.Order_bottom>.Orderlist>.list_1>span.triangle{
  //     display: inline-block;
  //     // border: 10px solid red;
  //     border-left: 50px solid blue transparent;
  //     border-right: 50px solid red transparent;
  //     border-top: 50px solid #007552;
  //     border-bottom: 0px solid black;
  //     width: 0px;
  //     height: 0px;
  // }


  /* 留意: 將最後一個 li 裡的 a，右邊框加回來 */
  /* 留意: 將最後一個 li 裡的 a，加上圓角 */

  /* 留意: 將第一個 li 裡的 a，加上圓角 */