.shopping {

    display: inline-block;

    height: 100vh;
    width: calc(100% - 250px);

    box-sizing: border-box;
    overflow-y: scroll;

    &::-webkit-scrollbar {

        display: none;
    }

    .content {

        display: flex;
        flex-direction: column;

        height: 100%;

        .step-box {

            height: 175px;
        }

        .form {

            flex-grow: 1;
            padding: 0 5%;

            .form-content {

                display: flex;
                flex-direction: column;

                height: 100%;

                box-sizing: border-box;

                .seller {

                    font-size: 2rem;
                    line-height: 2;

                    text-align: center;
                    color: $min-color;
                }

                .title {

                    margin-top: 1.6rem;

                    font-size: 1.6rem;
                    line-height: 2;
                }

                .tr {

                    display: flex;
                    align-items: center;

                    height: 75px;
                    line-height: 75px;

                    &.head-bar {

                        height: 32px;
                        line-height: 32px;
                        background: $orange-light;
                    }

                    .td {

                        height: 100%;
                        font-size: 1.6rem;

                        text-align: center;

                        box-sizing: border-box;

                        &.check-box {

                            width: 5%;
                        }

                        &.img {

                            width: 150px;

                            @include rwd (medium) {

                                display: none;
                            }
                        }

                        &.name {

                            flex-grow: 1;
                            min-width: 100px;
                        }

                        &.seller {

                            width: 150px;
                        }

                        &.price {

                            width: 100px;
                        }

                        &.amount {

                            width: 75px;

                            .input {

                                display: flex;
                                align-items: center;

                                padding: 20px 10px;

                                height: 100%;

                                box-sizing: border-box;

                                input {

                                    flex-grow: 1;

                                    margin: 0;
                                    padding: 0;

                                    height: 100%;
                                    width: 35px;

                                    text-align: center;

                                    border-top: 1px solid $min-color;
                                    border-left: 1px solid $min-color;
                                    border-bottom: 1px solid $min-color;
                                    border-right: 0px;
                                    box-sizing: border-box;

                                    &::-webkit-inner-spin-button {

                                        -webkit-appearance: none;
                                    }
                                }

                                .button {

                                    display: flex;
                                    flex-direction: column;

                                    padding: 0;
                                    margin: 0;

                                    height: 100%;

                                    box-sizing: border-box;

                                    button {

                                        padding: 0px;
                                        margin: 0px;

                                        height: 50%;
                                        width: 20px;

                                        background: transparent;
                                        border: 1px solid $min-color;

                                        box-sizing: border-box;

                                        &:nth-child(2) {

                                            font-size: 1.5rem;
                                            line-height: 0;
                                        }
                                    }
                                }
                            }
                        }

                        &.subtotal {

                            width: 100px;
                        }

                        &.operating {

                            width: 150px;
                        }

                        img {

                            max-width: 100px;
                        }
                    }
                }

                .total {

                    font-size: 1.6rem;
                    line-height: 2;

                    text-align: right;
                }
            }
            .btn {

                float: right;

                height: 40px;
                line-height: 40px;
                width: 120px;

                text-align: center;
                text-decoration: none;

                font-size: 1.6rem;
                color: black;

                background: rgba($orange, .75);
            }
        }
    }
}