div.track {
  display: inline-block;
  background-color: #FBF8EF;
  width: 100%;
  height: auto;

  .track_head {
    color: #F7C845;
    margin-top: 45px;
    margin-left: 300px;
    font-size: 30px;
    @include rwd(large){
      margin-left: 180px;
    }
    @include rwd(medium){
      margin-left: 130px;
    }
    @include rwd(small){
      margin-left: 100px;
    }
    @include rwd(mobile){
      margin-left: 20px;
    }
  }

  .track_bottom {
    display: block;
    height: auto;
    text-align: center;
    padding-left: 17%;
    @include rwd(mobile){
      padding-left: 5px;
    }
    >.trackcard {
      display: inline-block;
      margin-top: 40px;
      line-height: 2;

      >.cardfront {
        border: 3px solid #007552;
        background-color: white;
        box-shadow: 10px -9px #007552;
        width: 260px;
        margin-right: 173px;
        font-size: 17px;
        
        @include rwd(large) {
          width: 260px;
          margin-right: 40px;
          font-size: 17px;
        }

        @include rwd(medium) {
          width: 240px;
          margin-right: 110px;
          margin-left: 30px;
          font-size: 16px;
        }

        @include rwd(mobile) {
          width: 260px;
          margin-right: 0px;
          margin-left: 0px;
          font-size: 17px;
        }

        >.front_top {
          >.closeimg {
            width: 30px;
            height: 30px;
            position: relative;
            top: 10px;
            left: 80%;

            >.img {
              width: 100%;
              height: 100%;
            }
          }

          >.frontimg {
            width: 70px;
            height: 70px;
            padding: 30px;
            padding-bottom: 0;
            margin: 0 auto;
            text-align: center;

            >img {
              width: 100%;
              height: 100%;
            }
          }

          >.star {
            display: block;

            >.starimg {
              display: inline-block;
              width: 10px;
              height: 10px;

              >img {
                width: 100%;
                height: 100%;
              }
            }

            >span {
              color: #007552;
            }
          }
        }

        >.front_bottom {
          display: inline-block;
          text-align: start;
          margin-bottom: 20%;
          padding: 5px 9px 0px 9px;
          >.frontbutton{
            position: relative;
            top: 0;
            left: 20%;
            @include rwd(mobile){
              top: 0%;
              left: 22%;
            }
            >.track_button {
              padding: 0px 10px;
              color: #333;
              box-sizing: border-box;
              position: absolute;
              top: 0;
              left: 0%;
              margin-top: 0%;
              margin-left: 0%;
              transform: translateX(-50%);
              cursor: pointer;
              font-size: 17px;
              transition: all 0.5s;

              // animation-name: home_title_animate;
              // animation-duration: 1.5s;
              // animation-iteration-count: infinite;
              // animation-direction: alternate;
              // animation-fill-mode: both;
              background-color: #fbf8ef;
              outline: none;
              border: 2px solid #666;
              z-index: 2;
              font-weight: 600;
              font-family: "Noto Serif TC", serif;
              @include rwd(mobile) {
                font-size: 17px;
              }
            
              &::before {
                position: absolute;
                content: "";
                transition: all 0.5s;
                bottom: -14px;
                height: 10px;
                width: 100%;
                left: 4px;
                // animation-name: home_title_beforeanimate;
                // animation-duration: 1.5s;
                // animation-iteration-count: infinite;
                // animation-direction: alternate;
                // animation-fill-mode: both;
                transform: skewX(45deg);
                background-color: #f7c852;
                border: 2px solid #666;
                border-top: none;
              }
            
              &::after {
                position: absolute;
                content: "";
                transition: all 0.5s;
                right: -13px;
                height: 100%;
                width: 9px;
                bottom: -7px;
                
                // animation-name: home_title_afteranimate;
                // animation-duration: 1.5s;
                // animation-iteration-count: infinite;
                // animation-direction: alternate;
                // animation-fill-mode: both;
                transform: skewY(45deg);
                background-color: #f7c852;
                border: 2px solid #666;
                border-left: none;
                border-bottom: none;
              }
            
              // &:hover {
              //   animation: none;
              //   &::before {
              //     animation: none;
              //   }
              //   &::after {
              //     animation: none;
              //   }
              // }
            
              &:active {
                margin-left: 10px;
                margin-top: 10px;
                &::before {
                  bottom: -9px;
                  height: 5px;
                  left: 3px;
                }
            
                &::after {
                  right: -10px;
                  width: 6px;
                  bottom: -4px;
                }
              }
            }
          }
          >.frontbutton2{
            position: relative;
            top: 0%;
            left: 26%;
            >.track_button2 {
              padding: 0px 10px;
              color: #333;
              box-sizing: border-box;
              position: absolute;
              top: 0;
              left: 48%;
              margin-top: 0%;
              margin-left: 0%;
              transform: translateX(-50%);
              cursor: pointer;
              font-size: 17px;
              transition: all 0.5s;
              // animation-name: home_title_animate;
              // animation-duration: 1.5s;
              // animation-iteration-count: infinite;
              // animation-direction: alternate;
              // animation-fill-mode: both;
              background-color: #fbf8ef;
              outline: none;
              border: 2px solid #666;
              z-index: 2;
              font-weight: 600;
              font-family: "Noto Serif TC", serif;
              @include rwd(mobile) {
                font-size: 17px;
              }
            
              &::before {
                position: absolute;
                content: "";
                transition: all 0.5s;
                bottom: -14px;
                height: 10px;
                width: 100%;
                left: 4px;
                // animation-name: home_title_beforeanimate;
                // animation-duration: 1.5s;
                // animation-iteration-count: infinite;
                // animation-direction: alternate;
                // animation-fill-mode: both;
                transform: skewX(45deg);
                background-color: #f7c852;
                border: 2px solid #666;
                border-top: none;
              }
            
              &::after {
                position: absolute;
                content: "";
                transition: all 0.5s;
                right: -13px;
                height: 100%;
                width: 9px;
                bottom: -7px;
                // animation-name: home_title_afteranimate;
                // animation-duration: 1.5s;
                // animation-iteration-count: infinite;
                // animation-direction: alternate;
                // animation-fill-mode: both;
                transform: skewY(45deg);
                background-color: #f7c852;
                border: 2px solid #666;
                border-left: none;
                border-bottom: none;
              }
            
              // &:hover {
              //   animation: none;
              //   &::before {
              //     animation: none;
              //   }
              //   &::after {
              //     animation: none;
              //   }
              // }
            
              &:active {
                margin-left: 10px;
                margin-top: 10px;
                &::before {
                  bottom: -9px;
                  height: 5px;
                  left: 3px;
                }
            
                &::after {
                  right: -10px;
                  width: 6px;
                  bottom: -4px;
                }
              }
            }
          }
            

        }

        

        // >.cardinfo{
        //   display: block;
        //   border: 3px solid #F7C845;
        //   background-color: white;
        //   >.top{
        //     display: inline-block;
        //     text-align: start;
        //     >.imgbox{
        //       display: inline-block;
        //       width: 50px;
        //       height: 50px;
        //       >img{
        //         width: 100%;
        //         height: 100%;
        //       }
        //     }
        //   }
        // }
      }

    }

    .pagination_block {
      display: inline-block;
      margin-top: 20px;
      margin-bottom: 20px;

      >ul.pagination {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 0;

        @include rwd(mobile) {
          margin-left: 20px;
        }

        >li {
          display: inline-block;

          >a {
            display: inline-block;
            text-decoration: none;

            border: 1px solid #007552;
            /* 留意 */
            /* 留意：將全部的右邊框都移除 */

            text-align: center;
            padding: 5px 10px;
            font-size: 1rem;
            color: black;

            @include rwd(mobile) {
              padding: 5px 6px;
            }
          }

          >a.-on {
            background-color: #FFD3C1;
            color: #007552;
          }

          >a:hover {
            background-color: #FFD3C1;
            color: #007552;
          }
        }

        >li:first-child>a {
          display: inline-block;
          margin-right: 10px;
          background-color: #007552;
          color: white;
        }

        >li:first-child>a:hover {
          background-color: #007552;
          color: white;
        }

        >li:last-child>a {
          border-right: 1px solid #007552;
          margin-left: 10px;
          background-color: #007552;
          color: white;
        }

        >li:last-child>a:hover {
          background-color: #007552;
          color: white;
        }
      }
    }

  }
}

// div.Order>.Order_bottom>.Orderlist>.list_1>span.triangle{
//     display: inline-block;
//     // border: 10px solid red;
//     border-left: 50px solid blue transparent;
//     border-right: 50px solid red transparent;
//     border-top: 50px solid #007552;
//     border-bottom: 0px solid black;
//     width: 0px;
//     height: 0px;
// }


/* 留意: 將最後一個 li 裡的 a，右邊框加回來 */
/* 留意: 將最後一個 li 裡的 a，加上圓角 */

/* 留意: 將第一個 li 裡的 a，加上圓角 */