body{
    height: auto;
}
div.contain{
    width: 100%;
    margin: 0 auto;
    height: 97.1vh;
    aside.left{
        display: inline-block;
        color: #007552;
        width: 12.8%;
        height: 100%;
        vertical-align: top;
        background-color: #FFD3C1;
    }
    aside.left>.head_portrait{
        text-align: center;
        line-height: 2;
        padding-top: 20px;
        margin-bottom: 40px;
    }
    aside.left>.head_portrait>.head_img_box{
        width: 100px;
        padding-left: 10px;
        margin-top: 20px;
        margin-left: 40px;
        margin-bottom: 30px;
    }
    aside.left>.info{
        margin-bottom: 40px;
    }
    aside.left>.info>ul>li{
        text-align: start;
        line-height: 2;
        margin-left: 45px;
    }
    aside.left>.farm_button{
        width: 70px;
        color: white;
        background-color: #007552;
        border-radius: 5px;
        padding: 10px 20px;
        margin-left: 40px;

    }
    div.right{
        display: inline-block;
        color: #007552;
        background-color: #FBF8EF;
        width: 87.2%;
        height: 100%;
        vertical-align: top;
    }
    div.right>.right_head{
        color: #F7C845;
        margin-top: 40px;
        margin-left: 40px;
        font-size: 30px;
    }
    div.right>.right_bottom{
        display: inline-block;
        height: 90.3%;
        vertical-align: bottom;
    }
    div.right>.right_bottom>.bottom_form{
        margin: 74px 320px;
        line-height: 3;
    }
    div.right>.right_bottom>.bottom_form>.person_left{
        display: inline-block;
        padding:  50px 40px;
        background-color: #F7C845;
    }
    div.right>.right_bottom>.bottom_form>.person_right{
        display: inline-block;
        background-color: white;
        padding:  50px;
        padding-left: 50px;
        padding-right: 100px;
    }
    div.right>.right_bottom>.bottom_form>.person_right>label{
        margin-right: 10px;
    }
    div.right>.right_bottom>.bottom_form>.person_right{
        position: relative;
    }
    div.right>.right_bottom>.bottom_form>.person_right>.submit_button{
        position: absolute;
        border-radius: 5px;
        background-color: #007552;
        color: white;
        padding: 0px 20px;
        right: 30px;
        bottom: 0;
    }
}