body{
    height: auto;
}
div.contain{
    width: 100%;
    margin: 0 auto;
    height: 110vh;
    aside.left{
        display: inline-block;
        color: #007552;
        width: 12.8%;
        height: 100%;
        vertical-align: top;
        background-color: #FFD3C1;
        >.head_portrait{
            text-align: center;
            line-height: 2;
            margin-top: 60px;
            margin-bottom: 40px;
            >.head_img_box{
                width: 100px;
                margin: 0 auto;
            }
            >ul{
                padding-right: 18px;
            }
        }
        >.info{
            margin-bottom: 40px;
            >ul{
                >li{
                    display: block;
                    text-align: start;
                    line-height: 2;
                    margin-left: 45px;
                    >a{
                        text-decoration: none;
                        color: #007552;
                    }
                }
            }
        }
        >.farm_button{
            width: 60px;
            color: white;
            background-color: #007552;
            border-radius: 5px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 5px;
            margin-left: 50px;
            >.farm{
                >a{
                    text-decoration: none;
                    color: white;
                }
                
            }
        }
        >.farm_button:hover{
            background-color: #62B45A;
        }
    }
}