 div.Order {
   display: inline-block;
   background-color: #FBF8EF;
   width: 87.2%;
   height: auto;

   .Order_head {
     color: #F7C845;
     margin-top: 40px;
     margin-left: 40px;
     font-size: 30px;
   }

   .Order_bottom {
     display: block;
     height: auto;
     text-align: center;

     >.Orderlist {
       margin-top: 40px;
       line-height: 2;

       @include rwd(mobile) {
         margin-top: 40px;
         line-height: 2;
         padding-left: 20px;
       }

       >.list_1 {
         display: inline-block;
         border: 2px solid #F7C845;
         background-color: white;
         text-align: start;
         width: 768px;
         height: 100%;
         font-size: 17px;

         @include rwd(medium) {
           width: 720px;
           height: auto;
         }

         @include rwd(small) {
           width: 620px;
           height: auto;
         }

         @include rwd(mobile) {
           width: 320px;
           height: auto;
           padding: 0 5px;
         }

         >.list_th {
           display: block;
           background-color: #F7C845;
           color: #007552;
           margin-top: 20px;
           margin-left: 20px;
           margin-right: 20px;
          @include rwd(mobile){
            width: 100%;
            margin-top: 20px;
            margin-left: 0px;
            margin-right: 20px;
          }
           >p {
             display: inline-block;
             padding: 0 58px;

             @include rwd(medium) {
               padding: 0 53px;
             }

             @include rwd(small) {
               padding: 0 40.6px;
             }

             @include rwd(mobile) {
              padding: 0 8.6px 0 7px;
             }
           }
         }

         >.list_td {
           border: 1px solid #F7C845;
           background-color: white;
           display: block;
           margin-bottom: 20px;
           margin-left: 20px;
           margin-right: 20px;
           @include rwd(mobile){
            width: 99.4%;
            margin-left: 0px;
            margin-right: 20px;
          }

           >p {
             display: inline-block;
             padding: 0 59px;

             @include rwd(medium) {
               padding: 0 53px;
             }

             @include rwd(small) {
               padding: 0 42.9px;
             }

             @include rwd(mobile) {
               font-size: 13px;
               padding: 0 24px 0 7px;
             }
           }
         }

         .listnum,
         .list_slide {
           >p {
             padding-left: 10px;
             color: #007552;
           }
         }

         .list_th2 {
           display: block;
           background-color: #F7C845;
           color: #007552;
           margin-top: 20px;
           margin-left: 20px;
           margin-right: 20px;
           @include rwd(mobile){
            width: 100%;
            margin-left: 0px;
            margin-right: 20px;
          }
           >p {
             display: inline-block;
             padding: 0 50.4px;

             @include rwd(medium) {
              padding: 0 53px;
            }

            @include rwd(small) {
              padding: 0 40.6px;
            }

            @include rwd(mobile) {
              padding: 0 15.6px 0 7px;
            }
           }
         }

         .list_td2 {
           border: 1px solid #F7C845;
           background-color: white;
           display: block;
           margin-left: 20px;
           margin-right: 20px;
           @include rwd(mobile){
            width: 99.4%;
            margin-left: 0px;
            margin-right: 20px;
          }
           >p {
             display: inline-block;
             padding: 0 44.8px;

             @include rwd(medium) {
              padding: 0 53px;
            }

            @include rwd(small) {
              padding: 0 42.9px;
            }

            @include rwd(mobile) {
              font-size: 13px;
              padding: 0 20px 0 7px;
            }
           }

           >p.td2_price {
             display: inline-block;
             padding: 0 30px;

             @include rwd(mobile) {
               padding: 0;
             }
           }

           >p.td2_num {
             display: inline-block;
             padding: 0 44.8px;

             @include rwd(mobile) {
              padding: 0px 26px;
             }
           }

         }

         .list_td3 {
           border: 1px solid #F7C845;
           background-color: white;
           display: block;
           margin-left: 20px;
           margin-right: 20px;
           @include rwd(mobile){
            width: 99.4%;
            margin-left: 0px;
            margin-right: 20px;
          }
           >p {
             display: inline-block;
             padding: 0 44.4px;

             @include rwd(medium) {
              padding: 0 53px;
            }

            @include rwd(small) {
              padding: 0 42.9px;
            }

            @include rwd(mobile) {
              font-size: 13px;
              padding: 0 11px 0 7px;
            }
           }
           >p.td3_price {
            display: inline-block;
            padding: 0 30px;

            @include rwd(mobile) {
              padding: 0;
            }
          }

          >p.td3_num {
            display: inline-block;
            padding: 0 44.8px;

            @include rwd(mobile) {
              padding: 0px 21px;
            }
          }
         }

         .list_td3:last-child {
           border: 1px solid #F7C845;
           background-color: white;
           display: block;
           margin-left: 20px;
           margin-right: 20px;
         }

         .listnum,
         .list_slide {
           >p {
             padding-left: 10px;
             color: #007552;
           }
         }

         .total {
           display: block;
           background-color: #FFD3C1;
           margin: 30px 20px;

           >p {
             text-align: end;
             padding-right: 10px;
             color: #007552;
           }

           >p:first-child {
             padding-top: 10px;
           }

           >p:last-child {
             padding-bottom: 10px;
             color: #CC113C;
           }
         }

         .address {
           display: block;
           background-color: #FFD3C1;
           margin: 30px 20px;

           >.address_left {
             display: inline-block;

             >p {
               padding-left: 10px;
               color: #007552;
             }
           }

           >.address_right {
             display: inline-block;

             >p {
               padding-left: 10px;

               >span {
                 color: #CC113C;
               }
             }

           }
         }

         .Evaluation {
           display: block;
           background-color: #DCE07A;
           margin: 30px 20px;
           padding: 10px;

           >.star {
             display: block;
             background-color: #FBF8EF;
             margin: 10px 30px;
             text-align: start;
            @include rwd(mobile){
              margin: 5px 20px;
            }
            >.Evaluation_submit{
              text-align: end;
              >a{
                >p {
                  display: inline-block;
                  margin-top: 100px;
                  margin-right: 10px;
                  margin-bottom: 10px;
                  padding: 0 10px;
                  background-color: #007552;
                  border-radius: 5px;
                  color: white;
                  @include rwd(mobile){
                   margin-top: 100px;
                  margin-right: 10px;
                  margin-bottom: 10px;
                 }
                }
   
                >p:hover {
                  background-color: #62B45A;
                  color: white;
                }
              }
              
            }
             

             >.starimg {
               display: inline-block;
               width: 50px;
               height: 50px;
               padding-top: 30px;
               margin-right: 20px;
               vertical-align: top;
              @include rwd(mobile){
                margin-right: 0px;
              }
               >img {
                 width: 100%;
                 height: 100%;
               }
             }
           }
         }

       }

     }

     .pagination_block {
       display: inline-block;
       margin-top: 20px;
       margin-bottom: 20px;
      @include rwd(mobile){
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 42px;
      }
       >ul.pagination {
         list-style: none;
         margin: 0;
         padding: 0;
         font-size: 0;

         >li {
           display: inline-block;

           >a {
             display: inline-block;
             text-decoration: none;

             border: 1px solid #007552;
             /* 留意 */
             /* 留意：將全部的右邊框都移除 */

             text-align: center;
             padding: 5px 10px;
             font-size: 1rem;
             color: black;
             @include rwd(mobile){
              padding: 5px 6px;
             }
           }

           >a.-on {
             background-color: #FFD3C1;
             color: #007552;
           }

           >a:hover {
             background-color: #FFD3C1;
             color: #007552;
           }
         }

         >li:first-child>a {
           display: inline-block;
           margin-right: 10px;
           background-color: #007552;
           color: white;
         }

         >li:first-child>a:hover {
           background-color: #007552;
           color: white;
         }

         >li:last-child>a {
           border-right: 1px solid #007552;
           margin-left: 10px;
           background-color: #007552;
           color: white;
         }

         >li:last-child>a:hover {
           background-color: #007552;
           color: white;
         }
       }
     }
   }
 }