div.container{
    width: 100%;
    height: 97.1vh;
    aside.left{
        width: 200px;
        height: 100%;
        vertical-align: top;
        background-color: #FFD3C1;
    }
    aside.left>.head_portrait{
        text-align: center;
        line-height: 2;
        margin-bottom: 20px;
    }
    aside.left>.head_portrait>.head_img_box{
        width: 100px;
        margin-top: 20px;
        margin-left: 40px;
        margin-bottom: 20px;
    }
    aside.left>.info>ul>li{
        text-align: start;
        margin-left: 45px;
    }
}