div.MemberUpdate_right {
  display: inline-block;
  color: #007552;
  background-color: #fbf8ef;
  width: calc(100% - 250px);
  height: 100vh;
  vertical-align: top;
  box-sizing: border-box;
  padding: 60px 40px;

  @include rwd(medium) {
    float: right;
    width: calc(100% - 200px);
  }

  @include rwd(small) {
    float: none;
    width: 100vw;
    padding: 10% 5%;
  }

  .MemberUpdate_right_head {
    color: #f7c845;
    font-size: 3rem;
  }

  .MemberUpdate_right_bottom {
    display: block;
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;
    @include rwd(medium) {
      display: block;
      width: 100%;
      padding-top: 10%;
    }

    > .bottom_form {
      display: inline-block;
      border: 1px solid #666;
      @include rwd(small) {
        line-height: normal;
      }

      > .update_left {
        vertical-align: top;
        display: inline-block;
        background-color: #f7c845;
        width: 150px;
        height: 550px;
        padding-top: 50px;

        @include rwd(small) {
          width: 30%;
          height: 450px;
        }

        > ul {
          > li {
            font-size: 1.8rem;
            color: #666;
            line-height: 3.3;
            @include rwd(small) {
              font-size: 1.4rem;
              line-height: 3;
            }
          }
        }
      }

      > .update_right {
        display: inline-block;
        text-align: start;

        background-color: white;
        box-sizing: border-box;
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
        width: 340px;
        height: 550px;
        line-height: 3.5;
        @include rwd(medium) {
          width: 340px;
        }
        @include rwd(small) {
          width: 70%;
          height: 450px;
          line-height: 3;
          font-size: 1.4rem;
        }

        input {
          width: 150px;
        }

        > .submit_button {
          border: none;
          margin-top: 20px;
          display: inline-block;
          border-radius: 5px;
          background-color: #007552;
          color: white;
          padding: 0px 20px;
          line-height: 2.3;
          cursor: pointer;
          font-size: 1.6rem;
          &:hover {
            background-color: #fca87c;
            color: #fbf8ef;
          }
        }
      }
    }
  }
}
