body {
    background-color: #FBF8EF;

}

.login {
    margin: auto;
    width: 650px;
    height: 550px;
    position: relative;
    font-family: jf open 粉圓1.1;
}

.welcome {
    background-color: #62B45A;
    width: 800px;
    height: 415px;
    position: absolute;
    top: 40%;
    border-radius: 5px;

    >.leftbox,
    .rightbox {
        position: absolute;
        width: 50%;
        transition: 1s all ease;

        >h1 {
            text-align: center;
            margin-top: 40%;
            font-size: 2em;
        }
    }

    >.leftbox {
        left: -2%;

        >img.loginbutton {
            position: absolute;
            width: 150px;
            height: 80px;
            top: 104%;
            left: 32%;
        }
    }

    >.rightbox {
        right: -2%;

        >img.signupbutton {
            position: absolute;
            width: 150px;
            height: 80px;
            top: 104%;
            left: 30%;
        }
    }

    >.movebox {
        position: absolute;
        top: -10%;
        left: 5%;
        background-color: #DCE07A;
        width: 53%;
        height: 500px;
        border-radius: 5px;
        transition: all .5s ease-in-out;
        z-index: 2;

        >form {
            display: flex;
            flex-direction: column;
        }

        >.signup {
            text-align: center;
            height: 100%;

            >img.signuptitle {
                width: 120px;
                height: 75px;
            }

            >form.less-padding {

                font-size: 20px;
                line-height: 3;
                text-align: center;

                >.formarea {
                    display: flex;
                    justify-content: center;

                    >.formtext {
                        width: 300px;
                        height: 300px;
                        text-align: end;
                        line-height: 3;
                    }

                    >form.forminputbox {
                        width: 300px;
                        height: 300px;
                        margin-left: 15px;
                        margin-right: 15px;
                    }
                }

                >.signupsubmit {
                    background-color: white;
                    box-shadow: 10px 7px #007552;
                    margin-left: 140px;
                    width: 30%;
                    height: 10%;
                    z-index: 3;
                    font-size: 16px;
                    transition: .3s ease;
                }

                >.signupsubmit:hover {
                    outline: 0;
                    border: 2px solid #007552;
                    background-color: white;
                    transform: translate(10px, 7px);
                    box-shadow: 0 0 0 0 #007552;
                }
            }
        }

        >.nodisplay {
            display: none;
            transition: all .5s ease;
        }

        >.signin {
            text-align: center;
            height: 100%;

            >img.logintitle {
                width: 120px;
                height: 78px;
            }

            >form.more-padding {
                font-size: 20px;
                line-height: 3;

                >.signinsubmit {
                    background-color: white;
                    box-shadow: 10px 7px #007552;
                    margin-left: 140px;
                    margin-top: 30px;
                    width: 30%;
                    height: 10%;
                    z-index: 3;
                    transition: .3s ease;

                    >p {
                        display: inline-block;
                    }
                }

                >.signinsubmit:hover {
                    outline: 0;
                    border: 2px solid #007552;
                    background-color: white;
                    transform: translate(10px, 7px);
                    box-shadow: 0 0 0 0 #007552;
                }
            }

        }
    }
}