div.information {
  display: inline-block;
  color: #007552;
  background-color: #fbf8ef;
  width: calc(100% - 250px);
  height: 100vh;
  vertical-align: top;
  box-sizing: border-box;
  padding: 40px 40px;

  > .information_head {
    color: #f7c845;
    font-size: 3rem;
  }

  > .information_bottom {
    display: block;
    text-align: center;
    padding-top: 100px;

    @include rwd(mobile) {
      display: block;
      text-align: center;
      width: 100%;
      margin-left: 26px;
    }

    > .bottom_form {
      display: inline-block;
      line-height: 2;
      border: 1px solid #666;

      > .person_left {
        vertical-align: top;
        display: inline-block;
        background-color: #f7c845;
        width: 150px;
        height: 500px;
        padding-top: 50px;

        @include rwd(small) {
          width: 100px;
        }

        > ul {
          > li {
            font-size: 1.8rem;
            color: #666;
            line-height: 3.3;
          }
        }
      }

      > .information_right {
        display: inline-block;
        position: relative;
        text-align: start;
        background-color: white;

        padding-top: 50px;
        padding-left: 30px;
        padding-right: 100px;
        width: 250px;
        height: 500px;

        span {
          display: block;
          line-height: 3.5;

          p {
            overflow: hidden;
            padding: 0;
          }
        }
        > .submit_button {
          position: absolute;
          border-radius: 5px;
          background-color: #007552;
          color: white;
          padding: 0px 20px;
          right: 30px;
          bottom: 10px;
          line-height: 2.3;
          &:hover {
            background-color: #62b45a;
          }
        }
      }
    }
  }
}
