.sellerMainContent {
    margin: 0 auto;
    color: $contentColor;
    display: inline-block;
    // flex-flow: row wrap;
    font-size: $contentSize;
    // width: 80%;
    min-width: 70%;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
    position: fixed;
    left: 25%;
    margin-right: 4%;
    // border: 1px solid red;


.aSellerTableSection {

    .ast-header {
        display: flex;
        background: $formTtlBg;
    }

    .ast-content {
        display: flex;
        background-color: #fff;
        height: 80%;
        overflow-x: auto;
        margin-top: 0px;
    }

    .sellerManageTab {
        // width: 70%;
        table-layout: fixed;

    }

    th {
        width: 150px;
        padding: 20px 20px;
        text-align: left;
        color: $contentColor;

        &:last-child {
            padding-left: 10%;
        }
    }

    td {
        width: 150px;
        padding: 20px;
        text-align: left;
        vertical-align: middle;
        color: $contentColor;

        &:last-child {
            padding-left: 10%;

            .statusBtn[type=checkbox] {
                height: 0;
                width: 0;
                visibility: hidden;
            }

            .statusBtnLabel {
                cursor: pointer;
                text-indent: -9999px;
                width: 35px;
                height: 19px;
                background: rgb(161, 161, 161);
                display: block;
                border-radius: 100px;
                position: relative;
                top: -6px;
            }

            .statusBtnLabel:after {
                content: '';
                position: absolute;
                top: 1.5px;
                left: 2px;
                width: 15px;
                height: 15px;
                background: #fff;
                border-radius: 90px;
                transition: 0.3s;
            }

            .statusBtn:checked+.statusBtnLabel {
                background: $btnBgcolor;
            }

            .statusBtn:checked+.statusBtnLabel:after {
                left: calc(100% - 2px);
                transform: translateX(-100%);
            }

            .statusBtnLabel:active:after {
                width: 20px;
            }


        }


    }

}

}







// @media (max-width: 767px){
// // header.header{
// //   max-width: 100%;
// // }
// .main_content{
//  max-width: 100%;
//   }
// .aside{
//   max-width: 100%;
//   margin-bottom:10px;

// }
// .main{
//   width: 100%;
//   display: block;
// }

// }