$border-bottom:1px solid rgba(0,0,0,.09);
$border:1px solid black;

.wrapper{
    // border: 1px solid red;
    width: 1200px;
    margin: 0 auto;
}

.show_item{
    // background-color: #ffd3c1;
    height: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.mountain{
    position: absolute;
    top: -25px;
    // transform: translateY(-50px);
}
.filter-status{
    display: flex;
    background-color: #f7c845;
    padding: 20px 0;
    width: 160px;
}
.filter-group{
    border-bottom: 1px solid white;
    padding: 20px 0;
}

.container-wrapper{
    display: flex;
    justify-content: space-around;
}



// 排行榜
.hot_commodity_filter-status{
    display: flex;
    background-color: #f7c845;
    padding: 20px 0;
    width: 160px;
    position: relative;
    right: 10px;
}
.hot_commodity{
    float: right;
    width: 150px;
    background-color: #007552;
    color: white;
    position: relative;
    height: 100vh;
}
.hot_commoditystatus_text{
    display: flex;
    align-items: center;
}



.search_logo{
    transform: translate(60px,57px);
}
.market{
    transform: translate(-20px, -50px);
}

.searchbar__main{
    display: flex;
}
.search-section{
    height: 41px;
    width: 616px;
    border: 3px solid #007552;
    background-color: white;
    border-radius: 20px;
    transform: translateY(-20px);
}

.searchbar-input{
    padding-left: 10px;
    display: flex;
    width: 100%;
}
.searchbar-input_input{
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 0;
}

.search_btn{
    height: 34px;
    padding: 0 15px;
    min-width: 60px;
    max-width: 190px;
    display: inline-flex;
    // display: flex;
    justify-content: flex-end;
    overflow: hidden;
    border: none;
    background-color: transparent;
    
}
.hot-words_list{
    padding-left: 10px;
    margin-top: 11px;
}
.hot-words_item{
    font-size: 14px;
    text-decoration: none;
    color: #A9A9A9;
    letter-spacing: 0.5px;
}

.blog_line_box{
    text-align: center;
    margin: 25px 0;
}

.filter-panel{
    background-color: #007552;
    color: white;
    width: 150px;
    position: relative;
    float: left;
    height: 100vh;
}
.filter-group_header{
    margin-bottom: 10px;
}
.checkbox-filter{
    padding: 8px 0;    
}

.checkbox__control input{
    margin: 0 10px 0 0;
}

.filter-status_text{
    font-weight: 700;
    letter-spacing: 0.5px;

}

// 卡片 //
.commodity{
    border: 2px solid #007552;
    font-size: 0;
    margin: 20px 0;
}
.search-item-result_items{
    display: flex;
    flex-wrap: wrap;
    // border: $border;
    justify-content: space-around;
    width: 900px;
}
.commodity_title{
    font-size: 18px;
}
.card_content{
    padding: 10px;
}
.tag_icon{
    margin-right: 10px;
}
.card_tag{
    display: flex;
    align-items: center;
}
.card_tag_text{
    font-size: 14px;
    color: #A9A9A9;
    line-height: 24px;
}
.card_price{
    font-size: 16px;
    text-align: right;
}
.money{
    line-height: 30px;
}
.money::before{
    content: "$";
    padding: 0 5px;
}
.money::after{
    content: " / 包";
}

.buy{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}
.card_btn{
    font-size: 16px;
    border: 1px solid #007552;
    padding: 7px 20px;
    color: #007552;
}



.hot_commodity{
    float: right;
    width: 150px;
    height: 100%;
}